<div class="panel-group">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				{% block panel_title %}{% endblock %}
			</h4>
		</div>
		<div class="panel-body">
			{% block panel_content %}{% endblock %}
		</div>
	</div>
</div>
