{% extends 'ecamp-web/camp/camp.twig' %}


{% block content2 %}

    <div class="row">
        <div class="col-sm-12">
            {% embed "helper/accordion.twig" with { 'id': 'collaborators' } %}
                {% block panel_title %}
                    Collaborators
                {% endblock %}
                {% block panel_content %}
                    {% include 'ecamp-web/camp/collaborations/collaborations.twig' with { 'paginator': collaborationsPaginator } %}
                {% endblock %}
            {% endembed %}
        </div>
    </div>


    {% if acl.isAllowed(me, camp, 'configure') %}
        <div class="row">
            <div class="col-sm-12">
                {% embed "helper/accordion.twig" with { 'id': 'requests', 'collapsed': requestsPaginator.count == 0 } %}
                    {% block panel_title %}
                        Collaboration requests
                    {% endblock %}
                    {% block panel_content %}
                        {% include 'ecamp-web/camp/collaborations/requests.twig' with { 'paginator': requestsPaginator } %}
                    {% endblock %}
                {% endembed %}
            </div>
        </div>
    {% endif %}


    {% if acl.isAllowed(me, camp, 'configure') %}
        <div class="row">
            <div class="col-sm-12">
                {% embed "helper/accordion.twig" with { 'id': 'invitations', 'collapsed': invitationsPaginator.count == 0 } %}
                    {% block panel_title %}
                        Collaboration invitations
                    {% endblock %}
                    {% block panel_content %}
                        {% include 'ecamp-web/camp/collaborations/invitations.twig' with { 'paginator': invitationsPaginator } %}
                    {% endblock %}
                {% endembed %}
            </div>
        </div>


    {% endif %}

{% endblock %}
