<div class="modal-header">
    <button type="button" class="close" ng-click="$close()">&times;</button>
    <h4 class="modal-title"><i class="fa fa-user"></i> Search User</h4>
</div>

<div class="modal-body">
    <pagination-container
        url="{{ url(
            'web/camp/default',
            { 'camp': camp, 'controller': 'Collaborations', 'action': 'inviteSearchResult' },
            { 'query': { 'page': ':page' } }
        ) }}"
    >
        <pagination-header>
            <form>
                <label for="user-invite-search-query">Search for User:</label>
                <input type="text" class="form-control search-query" name="q" id="user-invite-search-query"
                       placeholder="Username, Firstname, Surname, Scoutname, Mail-Adress"
                />
            </form>
        </pagination-header>

        <hr style="margin-top: 15px; margin-bottom: 15px" />

        <page-container>
            {% include 'ecamp-web/camp/collaborations/invite-search-result.twig' with { 'paginator': null } %}
        </page-container>
    </pagination-container>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="$close()">Close</button>
</div>
