{
  "API_CACHE_ENABLED": true,
  "API_DATA_MIGRATIONS_DIR": "dev-data",
  "API_NUM_THREADS": null,
  "API_SENTRY_DSN": null,
  "AUTOSCALING_ENABLED": false,
  "BACKUP_ENCRYPTION_KEY": null,
  "BACKUP_S3_ACCESS_KEY": null,
  "BACKUP_S3_ACCESS_KEY_ID": null,
  "BACKUP_S3_BUCKET": null,
  "BACKUP_S3_ENDPOINT": "https://s3.eu-west-3.amazonaws.com",
  "BACKUP_SCHEDULE": null,
  "BASIC_AUTH_ENABLED": null,
  "BASIC_AUTH_PASSWORD": null,
  "BASIC_AUTH_USERNAME": null,
  "DOCKER_HUB_USERNAME": ,
  "DOMAIN": "ecamp3.ch",
  "FEATURE_CHECKLIST": true,
  "FEATURE_DEVELOPER": true,
  "FRONTEND_SENTRY_DSN": null,
  "IMAGE_TAG": "my-version",
  "JWT_PASSPHRASE": ,
  "JWT_PRIVATE_KEY": ,
  "JWT_PUBLIC_KEY": ,
  "LOGIN_INFO_TEXT_KEY": null,
  "NAME": "my-ecamp",
  "POSTGRES_ADMIN_URL": ,
  "POSTGRES_URL": ,
  "PRINT_SENTRY_DSN": null,
  "RESTORE_ENCRYPTION_KEY": null,
  "RESTORE_INVITE_TO_INTERESTING_CAMPS": false,
  "RESTORE_S3_ACCESS_KEY": null,
  "RESTORE_S3_ACCESS_KEY_ID": null,
  "RESTORE_S3_BUCKET": null,
  "RESTORE_S3_ENDPOINT": null,
  "RESTORE_SOURCE_APP": null,
  "RESTORE_SOURCE_FILE": null,
  "SENTRY_AUTH_TOKEN": null
}
