# Default values for ecamp3.
# Declare configuration values to be passed into the templates.

chartNameOverride: ""
imageTag: "latest"
imagePullSecrets: []
deploymentTime: ""
domain:
deployedVersion: "devel"
versionLinkTemplate: 'https://github.com/ecamp/ecamp3/commit/{version}'
termsOfServiceLinkTemplate: # 'https://ecamp3.ch/{lang}/tos'

# enable/disable feature across the complete deployment
featureToggle:
  developer: false # enables various tools/features foreseen for development deployments (language switcher, form controls view, performance measurement view, etc.)

api:
  subpath: "/api"
  service:
    type: ClusterIP
    port: 3001
  # If you use Mercure, you need the managed or the On Premise version to deploy more than one pod: https://mercure.rocks/docs/hub/cluster
  replicaCount: 1

php:
  image:
    repository: "docker.io/ecamp/ecamp3-api-php"
    pullPolicy: IfNotPresent
    # Overrides the image tag whose shared default is .Values.imageTag
    tag:
  appEnv: prod
  appDebug: "0"
  appSecret: ""
  corsAllowOrigin: "^https://.*?\\.chart-example\\.local$"
  trustedProxies:
    - "127.0.0.1"
    - "10.0.0.0/8"
    - "172.16.0.0/12"
    - "192.168.0.0/16"
  sentryDsn:
  jwt:
    passphrase:
    privateKey:
    publicKey:
  oauth:
    google:
      clientId: '889440431087-ueuhpadf2g7h5ucdke92mvfaf4l779m4.apps.googleusercontent.com'
      clientSecret: 'HNaD1FNO-a1qliacIrIfcGqO'
    pbsmidata:
      clientId: '2a955efdaaac73f665b29ec182cd9a114db01675ced710a464d33d10f58be600'
      clientSecret: '00a23e48bcb776d453b255428ffe810643db7155a9f3d743d7edf52eac400580'
      baseUrl: 'https://pbs.puzzle.ch'
    cevidb:
      clientId: 'raT1QFf6TOQzpn3yVH-My6YLrmsvOrfMhYypxzjPMWk'
      clientSecret: 'fTxMrzjBn3gPGg3eB0bNMmjRqg4ccs3_su7CaTXtljE'
      baseUrl: 'https://cevi.puzzle.ch'
    jubladb:
      clientId: 'WrKABq7GwmC6h1F0W73OGX_fOTHWWXnKXfrPMHOdQWY'
      clientSecret: 'oQ164RDMIAocL6PhmCoeT1Ymcg-7WcOJZdxCnIph5gM'
      baseUrl: 'https://jubla.puzzle.ch'
  resources:
    requests:
      cpu: 10m
      memory: 120Mi

caddy:
  image:
    repository: "docker.io/ecamp/ecamp3-api-caddy"
    pullPolicy: IfNotPresent
    # Overrides the image tag whose shared default is .Values.imageTag
    tag:
  resources:
    requests:
      cpu: 10m
      memory: 20Mi

frontend:
  image:
    repository: "docker.io/ecamp/ecamp3-frontend"
    pullPolicy: IfNotPresent
    # Overrides the image tag whose shared default is .Values.imageTag
    tag:
  sentryDsn:
  service:
    type: ClusterIP
    port: 3000
  replicaCount: 1
  resources:
    requests:
      cpu: 10m
      memory: 10Mi
  loginInfoTextKey: 'dev'

print:
  subpath: "/print"
  image:
    repository: "docker.io/ecamp/ecamp3-print"
    pullPolicy: IfNotPresent
    # Overrides the image tag whose shared default is .Values.imageTag
    tag:
  sentryDsn:
  browserWsEndpoint:
  service:
    type: ClusterIP
    port: 3003
  replicaCount: 1
  resources:
    requests:
      cpu: 10m
      memory: 150Mi

browserless:
  enabled: true
  domain:
  image:
    repository: "docker.io/browserless/chrome"
    pullPolicy: IfNotPresent
    # renovate: datasource=docker depName=browserless/chrome
    tag: "1.59.0-puppeteer-20.2.1"
  service:
    type: ClusterIP
    port: 3000
  maxConcurrentSessions: 1
  connectionTimeout: 30000
  maxQueueLength: 5
  resources:
    requests:
      cpu: 10m
      memory: 200Mi

mail:
  dummyEnabled: true
  # If using a real mail server, the connection uri to send emails to
  dsn: # smtp://myuser:mypass@mymailserver:1025
  # If the dummy mail server is enabled, the domain where the web interface is available
  subpath: "/mail"
  image:
    repository: "docker.io/mailhog/mailhog"
    pullPolicy: IfNotPresent
    # Overrides the image tag whose shared default is .Values.imageTag
    tag: "latest"
  service:
    type: ClusterIP
    port: 8025
  resources:
    requests:
      cpu: 10m
      memory: 10Mi


# You may prefer using the managed version in production: https://mercure.rocks
mercure:
  publicUrl: https://chart-example.local/.well-known/mercure
  # Change me!
  jwtSecret: "!ChangeMe!"
  corsAllowedOrigins: "^https?://.*?\\.chart-example\\.local$"

# Full configuration: https://github.com/bitnami/charts/tree/master/bitnami/postgresql
postgresql:
  url:
  dropDBOnUninstall: false
  # An uri with privileges to create and drop a database for the application.
  # Can be left empty if the required database specified in postgresql.url already exists.
  adminUrl:

recaptcha:
  siteKey:
  secret:

coupon:
  secret:

serviceAccount:
  # Specifies whether a service account should be created
  create: true
  # Annotations to add to the service account
  annotations: {}
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: ""

podSecurityContext: {}
  # fsGroup: 2000

securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

ingress:
  enabled: true
  annotations:
    # kubernetes.io/tls-acme: "true"
  className: nginx
  tls:


autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 5
  targetCPUUtilizationPercentage: 80
  # targetMemoryUtilizationPercentage: 80
