
<!-- Modal / Delete EventCategory -->
<div class="modal-header">
    <button type="button" class="close" ng-click="$close()">&times;</button>
    <h4 class="modal-title"><i class="fa fa-bin"></i> Delete Event Category</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-xs-12">
            Do you want do delete the Event Category <b>{{ eventCategory.short }}: {{ eventCategory.name }}</b>?

            {{ form(form) }}
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="$close()">Cancel</button>
    <button type="submit" form="event-category" class="btn btn-danger">Delete</button>
</div>
