<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="Bootstrap.php" colors="true">
	<php>
        <ini name="memory_limit" value="100M" />
        <ini name="display_errors" value="1" />
    </php>

    <testsuites>
        <testsuite name="eCampCore">
            <directory>./EcampCoreTest</directory>
        </testsuite>
    </testsuites>


    <filter>
        <whitelist>
            <directory>../src</directory>
        </whitelist>
    </filter>


    <logging>
        <log
        	type="coverage-html"
        	charset="UTF-8"
        	yui="true"
        	highlight="true"
        	target="../../../data/EcampCoreTest/coverage"
        />
    </logging>

</phpunit>
