{% extends 'ecamp-web/group/group.twig' %}


{% block content2 %}

	<div class="row">
		<div class="col-sm-12">
			{%  embed "helper/accordion.twig" %}
				{% block panel_title %}Managers{% endblock %}
				{% block panel_content %}

					<div class="row">
						<div class="col-sm-6 col-md-4">
							<a 	href="#" class="btn btn-default col-xs-12"
								style="cursor: pointer; margin-bottom: 15px">
								<table style="margin: 0px; padding: 0px; width: 100%">
									<tr>
										<td style="width: 50px">
											<img style="width: 40px"
												 src="https://cdn3.iconfinder.com/data/icons/glyph/227/User-1-256.png" />
										</td>
										<td style="text-align: left">
											<h5 style="display: inline">Forte</h5>
											<p>Pirmin Mattmann</p>
										</td>
									</tr>
								</table>

								<a 	data-toggle="modal"
									data-backdrop="true"
									data-target="#remoteModalDialog"
									href="/web/group/pbs/members/edit?membership=12"
									class="btn btn-noborder btn-xs btn-top-right"
								>
									<i class="icon-edit"></i>
								</a>
							</a>
						</div>
						<div class="col-sm-6 col-md-4">
							<a 	href="#" class="btn btn-default col-xs-12"
								style="cursor: pointer; margin-bottom: 15px">
								<table style="margin: 0px; padding: 0px; width: 100%">
									<tr>
										<td style="width: 50px">
											<img style="width: 40px"
												 src="https://cdn3.iconfinder.com/data/icons/glyph/227/User-1-256.png" />
										</td>
										<td style="text-align: left">
											<h5 style="display: inline">Smiley</h5>
											<p>Urban Suppiger</p>
										</td>
									</tr>
								</table>

								<a 	data-toggle="modal"
									data-backdrop="true"
									data-target="#remoteModalDialog"
									href="/web/group/pbs/members/edit?membership=12"
									class="btn btn-noborder btn-xs btn-bottom-right"
								>
									<i class="icon-edit"></i>
								</a>
							</a>
						</div>
						<div class="col-sm-6 col-md-4">
							<a 	href="#" class="btn btn-default col-xs-12"
								style="cursor: pointer; margin-bottom: 15px">
								<table style="margin: 0px; padding: 0px; width: 100%">
									<tr>
										<td style="width: 50px">
											<img style="width: 40px"
												 src="https://cdn3.iconfinder.com/data/icons/glyph/227/User-1-256.png" />
										</td>
										<td style="text-align: left">
											<h5 style="display: inline">Smiley</h5>
											<p>Urban Suppiger</p>
										</td>
									</tr>
								</table>

								<a 	data-toggle="modal"
									data-backdrop="true"
									data-target="#remoteModalDialog"
									href="/web/group/pbs/members/edit?membership=12"
									class="btn btn-noborder btn-xs btn-top-right"
								>
									<i class="icon-edit"></i>
								</a>
							</a>
						</div>
						<div class="col-sm-6 col-md-4">
							<a 	href="#" class="btn btn-default col-xs-12"
								style="cursor: pointer; margin-bottom: 15px">
								test
							</a>
						</div>
						<div class="col-sm-6 col-md-4">
							<a 	href="#" class="btn btn-default col-xs-12"
								style="cursor: pointer; margin-bottom: 15px">
								test
							</a>
						</div>

					</div>
				{% endblock %}
			{% endembed %}

		</div>


		<div class="col-sm-12">
			{%  embed "helper/accordion.twig" %}
				{% block panel_title %}Members{% endblock %}
				{% block panel_content %}

				{% endblock %}
			{% endembed %}
		</div>


		<div class="col-sm-12">
			{%  embed "helper/accordion.twig" %}
				{% block panel_title %}Open Requests{% endblock %}
				{% block panel_content %}

				{% endblock %}
			{% endembed %}
		</div>


		<div class="col-sm-12">
			{%  embed "helper/accordion.twig" %}
				{% block panel_title %}Open Invitations{% endblock %}
				{% block panel_content %}

				{% endblock %}
			{% endembed %}
		</div>
	</div>

	<div class="modal fade" id="remoteModalDialog" tabindex="-1" role="dialog" />

{% endblock content2 %}
