{% extends 'ecamp-web/group/group.twig' %}

{% block content2 %}

    <div class="row">
        <div class="col-sm-12">
            {% embed "helper/accordion.twig" with { 'id': 'members', 'collapsed': false } %}
                {% block panel_title %}
                    Members
                    <div class="pull-right">
                        <a 	data-toggle="modal"
                            data-backdrop="true"
                            data-target="#asyncform-container"
                            href="{{ url(
                                'web/group-prefix/name/default',
                                { 'group': group, 'controller': 'Members', 'action': 'inviteSearch' }
                                ) }}"
                            class="btn btn-xs btn-success"
                            style="margin-top: -3px"
                        >
                            <i class="fa fa-plus"></i> invite User
                        </a>
                    </div>
                {% endblock %}
                {% block panel_content %}
                    <pagination-container
                        type="group.memberships"
                        url="{{ url(
                            'web/group-prefix/name/default',
                            { 'group': group, 'controller': 'Members', 'action': 'members' },
                            { 'query': { 'page': ':page' } })
                        }}"
                    >
                        {% include 'ecamp-web/group/members/members.twig' with { 'paginator': membersPaginator } %}
                    </pagination-container>
                {% endblock %}
            {% endembed %}
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            {% embed "helper/accordion.twig" with { 'id': 'requests', 'collapsed': (requestsPaginator.count == 0) } %}
                {% block panel_title %}
                    Membership requests
                {% endblock %}
                {% block panel_content %}
                    <pagination-container
                        type="group.membershipRequests"
                        url="{{ url(
                            'web/group-prefix/name/default',
                            { 'group': group, 'controller': 'Members', 'action': 'requests' },
                            { 'query': { 'page': ':page' } })
                        }}"
                    >
                        {% include 'ecamp-web/group/members/requests.twig' with { 'paginator': requestsPaginator } %}
                    </pagination-container>
                {% endblock %}
            {% endembed %}
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            {% embed "helper/accordion.twig" with { 'id': 'invitations', 'collapsed': (invitationsPaginator.count == 0) } %}
                {% block panel_title %}
                    Membership invitations
                {% endblock %}
                {% block panel_content %}
                    <pagination-container
                        type="group.membershipInvitations"
                        url="{{ url(
                            'web/group-prefix/name/default',
                            { 'group': group, 'controller': 'Members', 'action': 'invitations' },
                            { 'query': { 'page': ':page' } })
                        }}"
                    >
                        {% include 'ecamp-web/group/members/invitations.twig' with { 'paginator': invitationsPaginator } %}
                    </pagination-container>
                {% endblock %}
            {% endembed %}
        </div>
    </div>

    <div class="modal fade" id="remoteModalDialog" tabindex="-1" role="dialog" />


{% endblock content2 %}
