<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title"><i class="fa fa-user"></i> Search User</h4>
</div>

<div class="modal-body" id="memberDetailsContent">
    <div class="row">
        <div class="col-xs-12">
            <label for="user-invite-search-query">Search for User:</label>
            <input type="text" class="form-control" name="query" id="user-invite-search-query" placeholder="Username, Firstname, Surname, Scoutname, Mail-Adress" />
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-xs-12 result-set-container">
            <div class="row">

                <div class="col-xs-12 col-sm-6">
                    <div class="dropdown">
                        <a 	href="#"
                              data-toggle="dropdown"
                              class="btn btn-default col-xs-12 dropdown-toggle"
                              style="cursor: pointer; margin-bottom: 15px"
                                >
                            <table style="margin: 0px; padding: 0px; width: 100%">
                                <tr>
                                    <td style="text-align: left">
                                        <b style="display: inline">
                                            <i class="fa fa-user"></i>
                                            UserName
                                        </b>
                                        <p>Firstname Surname, Scoutname</p>
                                    </td>
                                </tr>
                            </table>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" style="width: 100%; top: -2px">
                            <li>
                                <a href="#">invite UserName as member</a>
                            </li>
                            <li>
                                <a href="#">invite UserName as manager</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="dropdown">
                        <a 	href="#"
                            data-toggle="dropdown"
                            class="btn btn-default col-xs-12 dropdown-toggle"
                            style="cursor: pointer; margin-bottom: 15px"
                        >
                            <table style="margin: 0px; padding: 0px; width: 100%">
                                <tr>
                                    <td style="text-align: left">
                                        <b style="display: inline">
                                            <i class="fa fa-user"></i>
                                            UserName
                                        </b>
                                        <p>Firstname Surname, Scoutname</p>
                                    </td>
                                </tr>
                            </table>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" style="width: 100%; top: -2px">
                            <li>
                                <a href="#">invite UserName as member</a>
                            </li>
                            <li>
                                <a href="#">invite UserName as manager</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="dropdown">
                        <a 	href="#"
                              data-toggle="dropdown"
                              class="btn btn-default col-xs-12 dropdown-toggle"
                              style="cursor: pointer; margin-bottom: 15px"
                                >
                            <table style="margin: 0px; padding: 0px; width: 100%">
                                <tr>
                                    <td style="text-align: left">
                                        <b style="display: inline">
                                            <i class="fa fa-user"></i>
                                            UserName
                                        </b>
                                        <p>Firstname Surname, Scoutname</p>
                                    </td>
                                </tr>
                            </table>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" style="width: 100%; top: -2px">
                            <li>
                                <a href="#">invite UserName as member</a>
                            </li>
                            <li>
                                <a href="#">invite UserName as manager</a>
                            </li>
                        </ul>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>
