# Remove files from the production Docker images that could contain sensitive information.
# This file does not affect the development builds, because the contexts for those are the
# backend and frontend directories, respectively.

.cache/
/backend/config/autoload/doctrine.local.dev.php
/backend/config/autoload/doctrine.local.prod.php
/frontend/data
/frontend/dist
/frontend/.env.*
/frontend/public/environment.*
**/vendor/
**/node_modules/
