.vagrant/
.idea/
vendor/
config/development.config.php
config/autoload/*.local.*
config/autoload/doctrine.local.prod.php
data/cache/*
data/codeCoverage/*
data/DoctrineORMModule/Proxy/*
.DS_Store
*/.DS_Store
!data/cache/.gitkeep
phpunit.xml
