.*

config/autoload/*.local.php

data/log/*
data/log/**/*

data/cache/*
data/cache/**/*

data/session/*
data/session/**/*

data/DoctrineORMModule/Proxy/*
data/DoctrineORMModule/Proxy/**/*

data/unittest/*

public/UnitTests/result
