**/__snapshots__/**
/.playwright-cli
/.cache
/.helm/ecamp3/env.example.yaml
/.helm/ecamp3/templates
/.ops/**/templates
/.ops/aws-setup
/.ops/ops-dashboard/env.example.yaml
/api/.cache
/api/.phpunit.cache
/api/build
/api/var
/api/vendor
/common
/e2e
/frontend
/frontend-old
/pdf
/print
/translation
