# see https://symfony.com/doc/current/reference/configuration/framework.html
framework:
    secret: '%env(APP_SECRET)%'
    #csrf_protection: true
    http_method_override: false
    handle_all_throwables: true
    trusted_proxies: '%env(TRUSTED_PROXIES)%'
    trusted_hosts:
        - localhost
        - caddy
        - '%env(API_DOMAIN)%'
    # See https://caddyserver.com/docs/caddyfile/directives/reverse_proxy#headers
    trusted_headers: ['x-forwarded-for', 'x-forwarded-proto']

    disallow_search_engine_index: true

    #esi: true
    #fragments: true
    php_errors:
        log: true

when@test:
    framework:
        test: true