<!-- Modal / Forgot Password -->

<div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss('cancel')">&times;</button>
    <h4 class="modal-title"><i class="fa fa-user"></i> Forgot password</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-xs-12" style="margin-bottom: -15px">

            <p>
                You forgot your password?
                <br />
                Enter your email-address, we will send you a link, where you can set a new password.
            </p>

            {{ form(form) }}

        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="$dismiss('cancel')">Cancel</button>
    <button type="submit" form="forgot-password" class="btn btn-primary">Reset password</button>
</div>
