<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="phpunit.xsd"
    bootstrap="autoload.php"
    verbose="true"
>
    <php>
        <env name="env" value="test"/>
        <const name="PHPUNIT_TESTSUITE" value="true"/>
    </php>

    <testsuites>
        <testsuite name="eCamp.Lib">
            <directory suffix="Test.php">module/eCampLib/test</directory>
        </testsuite>
        <testsuite name="eCamp.Core">
            <directory suffix="Test.php">module/eCampCore/test</directory>
        </testsuite>
        <testsuite name="eCamp.Api">
            <directory suffix="Test.php">module/eCampApi/test</directory>
        </testsuite>

        <testsuite name="eCamp.ContentType.Storyboard">
            <directory suffix="Test.php">content-type/eCampStoryboard/test</directory>
        </testsuite>
        <testsuite name="eCamp.ContentType.Textarea">
            <directory suffix="Test.php">content-type/eCampTextarea/test</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">module/eCampLib/src</directory>
            <directory suffix=".php">module/eCampCore/src</directory>
            <directory suffix=".php">module/eCampApi/src</directory>
            <directory suffix=".php">content-type/eCampStoryboard/src</directory>
            <directory suffix=".php">content-type/eCampTextarea/src</directory>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-html" target="./data/codeCoverage" charset="UTF-8" yui="true" highlight="true" lowUpperBound="50" highLowerBound="80" showUncoveredFiles="false" />
        <log type="coverage-clover" target="build/logs/clover.xml"/>
    </logging>

</phpunit>
