<div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss()">
        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
    </button>
    <h4 class="modal-title">Kick User</h4>
</div>
<div class="modal-body">
    Are you sure, you want to kick this User out of Camp?
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="$dismiss()">Close</button>
    <button type="button" class="btn btn-danger" ng-click="$close()">Kick user</button>
</div>