<div class="modal-header">
    <button type="button" class="close" ng-click="$close()">&times;</button>
    <h4 class="modal-title"><i class="fa fa-thumbs-up"></i> Password changed</h4>
</div>

<div class="modal-body">
    <div class="row">
        <div class="col-xs-12">
            <center>

            <i class="fa fa-thumbs-up" style="font-size: 7em; color: #5cb85c;"></i>
            <br />
            Password successfully changed.
            </center>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="$close()">Close</button>
</div>
