{% extends 'layout/bg-image' %}

{% block style %}
{% endblock %}

{% block script %}
{% endblock %}

{% block htmlbody %}

    <section class="container" style="margin-top: 10%">
        <div class="row">
            <div class="col-sm-8 col-sm-push-2">

                <div class="row white" style="padding: 15px 30px">
                    <h1>New mail address verified</h1>
                    <p>
                        You have successfully changed your mail address to <b>{{ user.email }}</b>.
                    </p>
                    <p>
                        <a href="{{ url('web/profile') }}" class="btn btn-primary pull-right">
                            Continue
                        </a>
                    </p>
                </div>

            </div>
        </div>
    </section>

{% endblock %}
