<script src="/typeahead.js/typeahead.bundle.js"></script>
<script src="/ecamp-web/js/Plugin.js"></script>
<script src="/ecamp-web/js/Plugin/Itemized.js"></script>


<div class="items">
	<div class="row">
		<div class="col-md-2">
			<b>Quantity</b>
		</div>
		<div class="col-md-5">
			<b>Article</b>
		</div>
		<div class="col-md-3">
			<b>Material Lists</b>
		</div>
		<div class="col-md-1">

		</div>
	</div>


	{% for item in items %}
		{% include 'ecamp-material/item' %}
	{% endfor %}

</div>

<div class="row" name="add" style="margin-top:30px;">

	<div name="form">
		{% include 'ecamp-material/item-newform' %}
	</div>

	<div class="col-md-2" style="text-align: right;">
		<a href="#" class="submit btn btn-xs btn-success"><i class="fa fa-check"></i> Add</a>
	</div>

</div>

<script type="text/javascript">

	$(function(){
		var plugin = new Ecamp.Web.Plugin.Itemized({
			eventPluginId : '{{eventPlugin.id}}',
			showNewForm   : true,
			movableItems  : false
		});
	});

</script>


<script>
$(document).ready(function() {

	var materialDictionary = new Bloodhound({
	  datumTokenizer:  function(d) {
	      return Bloodhound.tokenizers.whitespace(d.text);
	  },
	  queryTokenizer: Bloodhound.tokenizers.whitespace,
	  prefetch: '{{
			url('plugin/material/dictionary', {
				'eventPluginId': eventPlugin.id
			} )}}',
	  remote: {
		  url: '{{
			url('plugin/material/dictionary', {
				'eventPluginId': eventPlugin.id,
				'query': 'QUERY'
			} )}}',
			wildcard:'QUERY'
	  }
	});

	materialDictionary.initialize();

	$('#{{eventPlugin.id}} .typeahead').typeahead(null, {
	  name: 'materialDictionary',
	  displayKey: 'text',
	  source: materialDictionary.ttAdapter()
	});

});
</script>
