{% extends 'e-camp/web-header/base.twig' %}

{% block header_icon %}
    <table border="0" style="width: 100%; border: 0;">
        <tr>
            <td width="1" style="padding-right: 10px;">
                <i class="zmdi zmdi-hc-fw zmdi-hc-3x zmdi-flag"></i>
            </td>
            <td style="padding-top: 3px; padding-bottom: 5px">
                <h1>{{ group.name }}</h1>
            </td>
        </tr>
    </table>
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}

    {% for item in group.pathAsArray %}
        <li class="breadcrumb-item">
            <a href="{{ url('ecamp.web/group', { 'group': item }) }}">
                <i class="zmdi zmdi-flag"></i> {{ item.name }}
            </a>
        </li>
    {% endfor %}
{% endblock %}

{% block hr %}
    <hr style="margin-top: 5px; margin-bottom: 5px;" />
{% endblock %}