{% extends 'e-camp/web-header/base.twig' %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="{{ url('ecamp.web') }}"><i class="zmdi zmdi-home"></i> {{ translate('Dashboard') }}</a>
    </li>
{% endblock %}
