{% extends 'e-camp/web-header/base.twig' %}

{% block header_icon %}
    <table border="0" style="width: 100%; border: 0;">
        <tr>
            <td width="1" style="padding-right: 10px;">
                <i class="zmdi zmdi-hc-fw zmdi-hc-3x zmdi-account"></i>
            </td>
            <td style="padding-top: 3px; padding-bottom: 5px">
                <h1>{{ user.username }}</h1>
            </td>
        </tr>
    </table>
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}

    <li class="breadcrumb-item">
        <a href="{{ url('ecamp.web/user', { 'userId': user.id }) }}">
            <i class="zmdi zmdi-account"></i> {{ user.username }}
        </a>
    </li>
{% endblock %}