{
  "COOKIE_SECRET": ,
  "GRAFANA_PROXY_HOST": ,
  "GRAFANA_PROXY_OAUTH_CLIENT_ID": ,
  "GRAFANA_PROXY_OAUTH_CLIENT_SECRET": ,
  "LOGGING_PROXY_HOST": ,
  "LOGGING_PROXY_OAUTH_CLIENT_ID": ,
  "LOGGING_PROXY_OAUTH_CLIENT_SECRET": ,
  "GATEWAY_ENABLED": true
}
