{% extends 'layout/layout.base.twig' %}

{% block layout_header %}
    {% include 'header/camps.twig' %}
{% endblock %}

{% block layout_body %}
    <section class="container">

        <div class="row">
            <div class="col-sm-12">
                Camps...
            </div>
        </div>
    </section>
{% endblock %}
