{% extends 'layout/group.twig' %}


{% block content2 %}

	<div class="row">

			<div class="col-sm-6">
			This is the homepage of a group
			</div>
			<div class="col-sm-6">
			test right
			</div>
	</div>
{% endblock content2 %}
