{% embed "helper/paginationContainer.twig" %}
    {% block listEmpty %}
        <p align="center">No subgroups</p>
    {% endblock %}
    {% block list %}
        <div class="row">
            {% for subgroup in paginator %}
                <div class="col-xs-12 col-sm-4">
                    <a 	href="{{ groupUrl(subgroup) }}"
                          class="btn btn-default col-xs-12"
                          style="cursor: pointer; margin-bottom: 15px;"
                    >
                        <div style="overflow: hidden">
                            <table style="margin: 0px; padding: 0px; width: 100%">
                                <tr>
                                    <td style="padding-right: 5px">
                                        <img style="width: 40px"
                                             src="https://cdn3.iconfinder.com/data/icons/glyph/227/Public-256.png" />
                                    </td>
                                    <td style="text-align: left;">
                                        <h5 style="display: inline">{{subgroup.name}}</h5>
                                        <p>{{subgroup.description}}</p>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    {% endblock %}
{% endembed %}
