{% embed "helper/paginationContainer.twig" %}
    {% block listEmpty %}
        <p align="center">No upcoming camps</p>
    {% endblock %}
    {% block list %}
        <div class="row">
            {% for camp in paginator %}
                <div class="col-xs-12 col-sm-4">
                    <a 	href="{{ campUrl(camp) }}"
                          class="btn btn-default col-xs-12"
                          style="cursor: pointer; margin-bottom: 15px"
                            >
                        <table style="margin: 0px; padding: 0px; width: 100%">
                            <tr>
                                <td style="width: 50px">
                                    <img style="width: 40px"
                                         src="https://cdn3.iconfinder.com/data/icons/glyph/227/Public-256.png" />
                                </td>
                                <td style="text-align: left">
                                    <h5 style="display: inline">{{ camp.name }}</h5>
                                    <p>{{ camp.description }}</p>
                                </td>
                            </tr>
                        </table>
                    </a>
                </div>
            {% endfor %}
        </div>
    {% endblock %}
{% endembed %}
