/* Navigation */
nav {
    margin-bottom:10px;
}

nav {
    padding: 0 0.7em;
    white-space: nowrap;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 0.2em 0;
    background-color: #EEEEEE;
    
    -moz-border-radius:5px;
    -webkit-border-radius: 5px;
    border-radius:5px;
}

nav ul li a {
    padding: 0 5px;
    font-weight: bold;
    text-decoration: none;
}

nav ul li a:visited {
    color: #09c;
}

nav ul li a:hover {
    text-decoration: underline;
}


/* Round corners */
.round {
    -moz-border-radius:10px;
    -webkit-border-radius: 10px;
    border-radius:10px;
}

/* Footer */
footer{
    background-color:#DDDDDD;
    width:100%;
    height:100px;
    margin-top:50px;
}

footer nav{
    float:right;
    margin:10px;
}

/* Topheader */
.topheader{
    background: url('../img/topheader.png');
    width:100%;
    height:100px;
    position:absolute;
    z-index:-100;
}

#logo{
    float:left;
}


/* Header navi */
header{
    height:80px;
}
header #campswitch{
    float:right;
    position:relative;
    top:-20px;
}

header nav{
    float:right;
    background-color:#DDDDDD;
    padding:4px;
    padding-top:6px;
    -moz-border-radius:6px;
    -webkit-border-radius: 6px;
    border-radius:6px;
    position:relative;
    top:-6px;
}

header nav ul li{
    background-color:transparent;
}

header nav #avatar{
    width:18px; position:relative; height:20px; background-color:black;
    top:4px;
}

/* Mainnav */
#mainnav{
    background-color:#DDDDDD;
    padding:10px;
    -moz-border-radius:8px;
    -webkit-border-radius: 8px;
    border-radius:8px;
    font-size:10pt;
    z-index:-100;
    margin-bottom:20px;
}

#mainnav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 0.3em 0.2em;
    margin-right:4px;
    background-color: #EEEEEE;

    -moz-border-radius:5px;
    -webkit-border-radius: 5px;
    border-radius:5px;
}

#mainnav ul li.selected{
    background-color:white;
}

#subnav{
    background-color:#EEEEEE;
    padding:10px;
    -moz-border-radius:8px;
    -webkit-border-radius: 8px;
    border-radius:8px;
    font-size:9pt;


    position:relative;
    top:-20px;
    z-index:-1;
    padding-top:15px;
}

#subnav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 0.3em 0.2em;
    margin-right:4px;
    background-color: #EEEEEE;
    font-weight:normal;

    -moz-border-radius:5px;
    -webkit-border-radius: 5px;
    border-radius:5px;
}

#mainnav ul li.selected{
    background-color:white;
}

/** Group site **/
.group_header{
    font-weight:bold;
    font-size:13pt;
}

.group_breadcrumb{
   font-style:italic;
    margin-bottom:10px;
}

/** BigBox with title row */
.bigbox{
    margin-bottom:20px;
}
.bigbox .title{
    background-color:#CCCCCC;
    border:1px #CCCCCC solid;
    -moz-border-radius:5px;
    -webkit-border-radius: 5px;
    border-radius:5px;
    padding:10px;
    position:relative;
    text-align:center;
    font-weight:bold;
    font-size:1.3em;
}
.bigbox .content{
    border:1px #CCCCCC solid;
    position:relative;
    top:-6px;
    padding:10px;
}

