<h3>Invitation to {{ camp_name }}</h3>
<p>
    You have been invited by {{ by_user }} to collaborate in camp {{ camp_name }}.
</p>
<p>
    <a href="{{ url }}">Answer the invitation</a>
</p>
<p>
    Your eCamp-Team
</p>
