<h3>Einladung zur Mitarbeit beim Lager {{ camp_name }}</h3>
<p>
    Du wurdest von {{ by_user }} eingeladen, beim Lager {{ camp_name }} mitzuwirken.
</p>
<p>
    <a href="{{ url }}">Einladung beantworten</a>
</p>
<p>
    Beste Grüsse,
    dein eCamp-Team
</p>
