{% set preheader = 'Password reset. We have received a request to reset your password on eCamp.' %}
{% extends 'emails/baseLayout.twig' %}

{% block content %}
    <h1>Passwort zurücksetzen</h1>
    <p>Hallo {{ name }},</p>
     <p>
        Wir haben die Anfrage erhalten, dein Passwort bei eCamp zurückzusetzen.<br />
        Falls du das warst, öffne den nachfolgenden Link um ein neues Passwort zu setzen:
    </p>

    {% with { title: 'Passwort zurücksetzen', url: url } %}
        {% include 'emails/button.twig' %}
    {% endwith %}
    
    <p>
        Beste Grüsse,
        dein eCamp-Team
    </p>
{% endblock %}