{% set preheader = 'Password reset. We have received a request to reset your password on eCamp.' %}
{% extends 'emails/baseLayout.twig' %}

{% block content %}
    <h1>Password reset</h1>
    <p>Hi {{ name }},</p>
    <p>
        We have received a request to reset your password on eCamp.<br/>
        If that was initiated by you, please click below link to set a new password:
    </p>

    {% with { title: 'Reset password', url: url } %}
        {% include 'emails/button.twig' %}
    {% endwith %}

    <p>
        Cheers,<br />
        your eCamp team
    </p>
{% endblock %}
