<h3>Willkommen bei eCamp3</h3>
<p>
    Bestätige deine Mail-Adresse indem du den nachfolgenden Link öffnest:
</p>
<p>
    <a href="{{ url }}">bestätigen</a>
</p>
<p>
    Beste Grüsse,
    dein eCamp-Team
</p>
