<h3>Hello {{ name }}</h3>
<p>
    Your Mail-Adresse on eCamp3 will be changed.
    Please confirm:
</p>
<p>
    Old Mail-Adresse:  {{ oldMail }} 
</p>
<p>
    New Mail-Adresse:  {{ newMail }} 
</p>
<p>
    <a href="{{ url }}">confirm</a>
</p>
<p>
    Your eCamp-Team
</p>
