<h3>Hello {{ name }}</h3>
<p>
    Someone requested to change your email address on eCamp.
    If that was you, please confirm by clicking this link:
</p>
<p>
    Old email address:  {{ oldMail }} 
</p>
<p>
    New email address:  {{ newMail }} 
</p>
<p>
    <a href="{{ url }}">confirm</a>
</p>
<p>
    Your eCamp-Team
</p>
