<h3>Hallo {{ name }}</h3>
<p>
    Deine Mail-Adresse bei eCamp soll geändert werden.
    Bestätige deine neue Mail-Adressse indem du den nachfolgenden Link öffnest:
</p>
<p>
    Alte Mail-Adresse:  {{ oldMail }} 
</p>
<p>
    Neue Mail-Adresse:  {{ newMail }} 
</p>
<p>
    <a href="{{ url }}">bestätigen</a>
</p>
<p>
    Beste Grüsse,
    dein eCamp-Team
</p>
