{% extends 'e-camp/web/camp.twig' %}

{% block layout_body %}
    <section class="container">

        <div class="row">
            <div class="col-sm-12">
                Camp...
            </div>
        </div>
    </section>
{% endblock %}
