{% extends 'layout/default.twig' %}

{% block header %}

<!--
	<div>
		<div style="float: left; margin-right: 8px">
			<img width="100" class="img-rounded" src="http://blog.ericlamb.net/images/uploads/2010/03/center_gravatar.jpg" >
		</div>
		<div>
			<h1>Forte</h1>
			<p>Pirmin Mattmann</p>
		</div>
	</div>
-->

	<table border="0" style="width: 100%; border: 0px;">
		<tr>
			<td width="120px">
				<img width="100" class="img-rounded" src="http://blog.ericlamb.net/images/uploads/2010/03/center_gravatar.jpg" >
			</td>
			<td>
				<h1>eCamp</h1>
				<p>Erfolgreich planen</p>
			</td>
		</tr>
	</table>

{% endblock header %}
