{{ docType() }}
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {% block meta %}{% endblock meta %}

        {% block title %}
        	<title>eCamp V3</title>
        {% endblock title %}


        <!-- Stylesheets -->
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" />
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.no-icons.min.css" rel="stylesheet">
		<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">

		<link type="text/css" rel="stylesheet" href="//cdn.jsdelivr.net/select2/3.4.2/select2.css" />
		<link type="text/css" rel="stylesheet" href="/css/default.css" />

        {% block style %}{% endblock style %}


        <!-- Scripts -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

		<script type="text/javascript" src="//cdn.jsdelivr.net/select2/3.4.2/select2.js"></script>
		<!--[if lt IE 9]><script type="text/javascript" src="/js/html5.js"></script><![endif]-->


		<script type="text/javascript">
			$(function(){
				$("div.search-box input[type='text']")
					.focus(function(){ $('div.search-box').switchClass('col-sm-9 col-md-7 col-lg-6', 'col-sm-12 col-md-12 col-lg-12', 300); });

				$("div.search-box input[type='text']")
					.blur(function(){ $('div.search-box').switchClass('col-sm-12 col-md-12 col-lg-12', 'col-sm-9 col-md-7 col-lg-6', 300); });

				$('[data-toggle="tooltip"]').tooltip();
				$('[data-toggle="popover"]').popover();

				$('select.select2').select2({minimumResultsForSearch: 3});

				var keyQueue = null;
				$("body").keydown(function(event){
					if(event.which == 77){
						keyQueue = 'm';
					} else if (keyQueue == 'm' && event.which == 65){
						keyQueue = 'ma';
					} else if (keyQueue == 'ma' && event.which == 80){
						$('body div.transpLayer').addClass('transp');
					} else {
						keyQueue = null;
						$('body div.transpLayer').removeClass('transp');
					}
				});
			});

		</script>

        {% block script %}{% endblock script %}

    </head>
    <body>
    	<div class="bgimage"></div>

    	<div class="transpLayer">
    		<section class="container white" style="margin-top: -8px; padding-top: 5px; ">
				<div class="row">
					<div class="col-sm-3 col-sm-push-9 col-md-5 col-md-push-7">
						<div class="row">
							<div class="col-xs-12">
								<div class="btn-group pull-right" style="margin-bottom: 8px">
									<button type="button" class="btn btn-sm btn-primary"><i class="icon-home"></i> Dashboard</button>
									<button type="button" class="btn btn-sm btn-primary hidden-xs hidden-sm"><i class="icon-user"></i> Users</button>
									<button type="button" class="btn btn-sm btn-primary hidden-xs hidden-sm"><i class="icon-flag"></i> Groups</button>
									<button type="button" class="btn btn-sm btn-primary hidden-xs hidden-sm"><i class="icon-bell"></i> Camps</button>
								
									<button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown">
										&nbsp;<i class="icon-caret-down"></i>&nbsp;
									</button>
									<ul class="dropdown-menu pull-right" role="menu">
									    <li class="hidden-md hidden-lg"><a href="#"><span class="icon-user"></span>&nbsp;&nbsp; Users</a></li>
									    <li class="hidden-md hidden-lg"><a href="#"><span class="icon-flag"></span>&nbsp;&nbsp; Groups</a></li>
									    <li class="hidden-md hidden-lg"><a href="#"><span class="icon-bell"></span>&nbsp;&nbsp; Camps</a></li>
									    <li class="hidden-md hidden-lg divider"></li>
									    
									    <li><a href="#"><span class="icon-user"></span>&nbsp;&nbsp; Username</a></li>
									    <li><a href="#"><span class="icon-inbox"></span>&nbsp;&nbsp; Inbox</a></li>
									    <li><a href="#"><span class="icon-cog"></span>&nbsp;&nbsp; Options</a></li>
									    <!-- 
									    <li class="divider"></li>
									    <li><a href="#"><span class="icon-info-sign"></span>&nbsp;&nbsp; About</a></li>
									     -->
									    <li class="divider"></li>
									    <li><a href="#"><span class="icon-off"></span>&nbsp;&nbsp; Abmelden</a></li>
									</ul>
								</div>
							</div>
							
						</div>
						<div class="row">
							<div class="search-box pull-right col-md-10 col-lg-8 hidden-xs hidden-sm">
								<div class="input-group pull-right">
							    	<input type="text" class="form-control input-sm" placeholder="Search" />
							    	<span class="input-group-btn">
							        <button class="btn btn-sm btn-default" type="button">
							        	<span class="icon-search"></span>&nbsp;
							        </button>
							      </span>
							    </div>
							</div>
						</div>
						
					</div>
					<div class="col-sm-9 col-sm-pull-3 col-md-7 col-md-pull-5">
						{% block header %}{{ header|raw }}{% endblock header %}
					</div>
				</div>
			
 				<hr style="margin-top: 10px; margin-bottom: 5px;" />
 				
				<div class="row">
					<div class="col-sm-12">
						<ol class="breadcrumb" style="margin-bottom:0px; padding: 0px 5px; background-color: rgba(0,0,0,0);">
	  						<li>
	  							<div class="btn-group">
	  							<a href="/web" class="btn btn-xs btn-noborder">
		  							<i class="icon-home"></i> Dashboard
	  							</a>
	  							</div>
  							</li>
        					{% block breadcrumb %}{{ breadcrumb|raw }}{% endblock breadcrumb %}
        				</ol>
					</div>
				</div>
			</section>
			
			<section class="container white">
				
	        	{% block content %}{{ content|raw }}{% endblock content %}
	        </section>
        </div>
    </body>
</html>
