{{ docType() }}

<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
{% block html_body %}
    <body>
        <h1>Layout</h1>

        {% block layout %}
            {#
            {% block content %}{% endblock %}
            #}
        {% endblock %}
    </body>
{% endblock %}
</html>
