{% extends 'ecamp-web/event-templates/base/index.twig' %}

{% block eventTemplateContent %}

	<div class="row">
		<div class="col-xs-12">

		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			{% RenderViewModel Storyboard %}

		</div>
	</div>




{% endblock eventTemplateContent %}
