fluent-operator:
  containerRuntime: containerd
  operator: 
    annotations:
      trigger-recreate: {{ exec "uuidgen" (list) }}
    container:
      # renovate: datasource=docker depName=ghcr.io/fluent/fluent-operator/fluent-operator
      tag: "v3.7.0"
  fluentbit:
    enable: true
    input:
      tail:
        enable: true
      systemd:
        enable: false
    filter:
      kubernetes:
        labels: true
        annotations: true
    output:
      stdout: 
        # enable to debug fluentbit
        enable: false
  fluentd:
    image:
      # renovate: datasource=docker depName=ghcr.io/fluent/fluent-operator/fluentd
      tag: "v1.17.1"
    watchedNamespaces:
      - default
      - ingress-nginx
    envVars: 
      - name: TRIGGER_FLUENTD_RECREATE
        value: {{ exec "uuidgen" (list) }}
    enable: true

fluentd:
  output:
    elasticsearch:
      enable: true
      scheme: http
      host: "elasticsearch.ecamp3-logging.svc.cluster.local"
      port: 9200
      index: "kubernetes"
      suppressTypeName: true

elastic:
  version: 8.13.2

elasticsearch:
  elasticNode:
    resources:
      requests:
        memory: {{ .Environment.Values | get "ELASTIC_NODE_REQUESTS_MEMORY" "1000Mi" }}
      limits:
        memory: {{ .Environment.Values | get "ELASTIC_NODE_LIMITS_MEMORY" "1000Mi"}}
  persistence:
    storageClassName: do-block-storage
    resources:
      requests:
        storage: {{ .Environment.Values | get "ELASTIC_NODE_STORAGE_SIZE" nil | required "Please define ELASTIC_NODE_STORAGE_SIZE. There is no good default value." }}
  removeOldIndexes:
    maxIndexAge: {{ .Environment.Values | get "ELASTIC_NODE_MAX_INDEX_AGE" "15" }}
    image: node
    # renovate: datasource=docker depName=node
    tag: "24.14.0"

kibana:
  name: kibana
  version:
  resources:
    requests:
      memory: 500Mi
    limits:
      memory: 1Gi
