{% extends 'layout/layout.twig' %}

{% block content %}

<h1>Ecamp-Core</h1>
<hr />
<h2>Services</h2>

<form style="display: inline" action="{{ url('core/default', {'controller': 'index', 'action': 'createServiceConfig'}) }}">
	<input type="submit" value="Create Service-Config" />
</form>

<form style="display: inline" action="{{ url('core/default', {'controller': 'index', 'action': 'createServiceProviders'}) }}">
	<input type="submit" value="Create Service-Provider" />
</form>

<hr />
<h2>Repositories</h2>

<form style="display: inline" action="{{ url('core/default', {'controller': 'index', 'action': 'createRepoConfig'}) }}">
	<input type="submit" value="Create Repo-Config" />
</form>

<form style="display: inline" action="{{ url('core/default', {'controller': 'index', 'action': 'createRepoProviders'}) }}">
	<input type="submit" value="Create Repo-Provider" />
</form>


<hr/>
{#
<?php if($this->group) { ?>

<?php echo $this->group->getDescription(); ?>

<hr/>
Children:
<ul>
	<?php
		foreach($this->group->getChildren() as $child){
			echo "<li>";
			echo "<a href='" . $this->url('group/camp/default', array('controller' => 'index', 'action' => 'index', 'group' => $child->getId())) . "'>";
			echo $child->getDescription();
			echo "</a>";
			echo "</li>";
		}
	?>
</ul>

<hr/>
<a href="<?php echo $this->url('group/camp/default', array('controller' => 'index', 'action' => 'index', 'group' => $this->group, 'camp' => $this->camp)); ?>">Group Camp Link</a>

<?php } ?>


<?php if($this->camp) { ?>
<hr/>
<?php echo $this->camp->getTitle(); ?>
<?php } ?>


<?php if($this->user) { ?>
<hr/>
<a href ="<?php echo $this->url('user/camp/default', array('controller' => 'index', 'action' => 'index', 'user' => $this->user, 'camp' => $this->camp)); ?>">User Camp Link</a>
<br />
<?php echo $this->user->getUsername(); ?>
<?php } ?>
#}

{% endblock content %}
