
<div class="page ">
    <div style="text-align: center">
        <p class="owner">{{ camp.owner.displayName }}</p>
        <p class="title">{{ camp.title }}</p>
        <p class="motto">{{ camp.motto }}</p>

        <div class="split"></div>
    </div>
</div>

<div class="clearfix"></div>
<div class="page-break" ></div>
