{{ docType() }}
<html>
    <head>
        <meta charset="utf-8" />

        <style type="text/css">
            * {
                background: transparent;
                font-size: 15px;
                font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                color: #444444;
            }

            body {
                border: 0;
                margin: 0;
                padding: 5px 20mm 0 20mm;
            }

            table {
                padding-bottom: 12mm;

                border-top: 1px solid #888888;
                width: 100%;
            }

        </style>
    </head>
    <body>
        <table>
            <tr>
                <td style="text-align: left"></td>
                <td style="text-align: center">{{ page }}</td>
                <td style="text-align: right"></td>
            </tr>
        </table>
    </body>
</html>
