{% extends 'e-camp/web/camp.twig' %}

{% block layout_body %}
    <section class="container">

        <div class="card" style="margin-bottom: 10px">
            <div class="card-body">
                Lager-Einstellunge
                <ul>
                    <li>Jobs</li>
                    <li>...</li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                TODO
            </div>
        </div>
    </section>

{% endblock %}
