name: Deploy
description: Deploy eCamp3
inputs:

  commit-sha:
    description: 'The SHA commit id that will be deployed'
    required: true

  ssh-username:
    description: 'The SSH username that will be used to log in to the server'
    required: false

  ssh-host:
    description: 'The SSH server where to deploy'
    required: true

  ssh-directory:
    description: 'The directory on the SSH server where to deploy'
    required: false

  db-host:
    description: 'The URL of the database server'
    required: false

  db-port:
    description: 'The port on which the database server listens'
    required: false

  db-user:
    description: 'The username that will be used to log in to the database'
    required: false

  db-pass:
    description: 'The password that will be used to log in to the database'
    required: false

  db-name:
    description: 'The database name in the database server'
    required: false

  session-cookie-domain:
    description: 'The domain that will be used for the session cookie. All services should be on subdomains of this domain.'
    required: true

  internal-api-url:
    description: 'Domain under which the api is reachable inside the docker network'
    required: false

  frontend-url:
    description: 'The location of the application'
    required: true

  print-server-url:
    description: 'The location of the print service'
    required: true

  print-file-server-url:
    description: 'The location of the file server'
    required: true

  mail-server-url:
    description: 'The location of the mail server'
    required: true

  sentry-frontend-dsn:
    description: 'DSN for reporting frontend errors to sentry'
    required: false

  sentry-print-dsn:
    description: 'DSN for reporting errors in the print service to sentry'
    required: false

  sentry-worker-print-puppeteer-dsn:
    description: 'DSN for reporting errors in the puppeteer print worker to sentry'
    required: false

  sentry-worker-print-weasy-dsn:
    description: 'DSN for reporting errors in the weasy print worker to sentry'
    required: false

  rabbitmq-host:
    description: 'The URL of the RabbitMQ server'
    required: false

  rabbitmq-port:
    description: 'The port on which the RabbitMQ server listens'
    required: false

  rabbitmq-vhost:
    description: 'The vhost used on the RabbitMQ server for this application'
    required: false

  rabbitmq-user:
    description: 'The username that will be used to log in to the RabbitMQ server'
    required: false

  rabbitmq-pass:
    description: 'The password that will be used to log in to the RabbitMQ server'
    required: false

  version-link-template:
    description: 'An URL template that is used to render the version link in the application'
    required: false

  api-url:
    description: 'Domain under which the api is reachable'
    required: false

  api-app-secret:
    description: 'app secret for api'
    required: false

  api-database-url:
    description: 'api database url'
    required: false

  api-jwt-passphrase:
    description: 'api jwt passphrase'
    required: false

runs:
  using: "composite"
  steps:

    - run: .github/actions/deploy/deploy.sh
      shell: bash
      env:
        COMMIT_SHA: ${{ inputs.commit-sha }}
        SSH_PRIVATE_KEY: ${{ inputs.ssh-private-key }}
        SSH_USERNAME: ${{ inputs.ssh-username || 'root' }}
        SSH_HOST: ${{ inputs.ssh-host }}
        SSH_DIRECTORY: ${{ inputs.ssh-directory || 'ecamp3' }}
        DB_HOST: ${{ inputs.db-host || 'db' }}
        DB_PORT: ${{ inputs.db-port || '3306' }}
        DB_USER: ${{ inputs.db-user || 'ecamp3' }}
        DB_PASS: ${{ inputs.db-pass || 'ecamp3' }}
        DB_NAME: ${{ inputs.db-name || 'ecamp3dev' }}
        SESSION_COOKIE_DOMAIN: ${{ inputs.session-cookie-domain }}
        INTERNAL_API_URL: ${{ inputs.internal-api-url || 'http://caddy:4001' }}
        FRONTEND_URL: ${{ inputs.frontend-url }}
        PRINT_SERVER_URL: ${{ inputs.print-server-url }}
        PRINT_FILE_SERVER_URL: ${{ inputs.print-file-server-url }}
        MAIL_SERVER_URL: ${{ inputs.mail-server-url }}
        SENTRY_FRONTEND_DSN: ${{ inputs.sentry-frontend-dsn }}
        SENTRY_PRINT_DSN: ${{ inputs.sentry-print-dsn }}
        SENTRY_WORKER_PRINT_PUPPETEER_DSN: ${{ inputs.sentry-worker-print-puppeteer-dsn }}
        SENTRY_WORKER_PRINT_WEASY_DSN: ${{ inputs.sentry-worker-print-weasy-dsn }}
        RABBITMQ_HOST: ${{ inputs.rabbitmq-host || 'rabbitmq' }}
        RABBITMQ_PORT: ${{ inputs.rabbitmq-port || '5672' }}
        RABBITMQ_VHOST: ${{ inputs.rabbitmq-vhost || '/' }}
        RABBITMQ_USER: ${{ inputs.rabbitmq-user || 'guest' }}
        RABBITMQ_PASS: ${{ inputs.rabbitmq-pass || 'guest' }}
        VERSION_LINK_TEMPLATE: ${{ inputs.version-link-template || 'https://github.com/ecamp/ecamp3/commits/{version}' }}
        API_URL: ${{ inputs.api-url }}
        API_APP_SECRET: ${{ inputs.api-app-secret }}
        API_DATABASE_URL: ${{ inputs.api-database-url }}
        API_JWT_PASSPHRASE: ${{ inputs.api-jwt-passphrase }}
