USER-SUPPLIED VALUES:
alertmanager:
  enabled: true
defaultRules:
  create: true
  rules:
    etcd: false
    kubeScheduler: false
grafana:
  adminPassword: prom-operator
  enabled: true
  persistence:
    accessModes:
    - ReadWriteOnce
    enabled: true
    size: 5Gi
    storageClassName: do-block-storage
kubeEtcd:
  enabled: false
kubeScheduler:
  enabled: false
prometheus:
  enabled: true
  prometheusSpec:
    storageSpec:
      volumeClaimTemplate:
        spec:
          accessModes:
          - ReadWriteOnce
          resources:
            requests:
              storage: 5Gi
          storageClassName: do-block-storage
prometheusOperator:
  enabled: true
