@use '~inter-ui/default' as inter-ui with (
  $inter-font-path: '~inter-ui/Inter (web hinted latin)'
);
@include inter-ui.weight-200;
@include inter-ui.weight-400;
@include inter-ui.weight-500;
@include inter-ui.weight-600;
body {
  font-feature-settings: 'ss03', 'calt', 'rlig', 'kern', 'cv05', 'cv07', 'cv08';
}
.text-uppercase {
  font-feature-settings: 'ss03', 'calt', 'rlig', 'kern', 'cv05', 'cv07';
}
.v-toolbar__title {
  font-weight: 500;
}
.theme--light.v-application {
  background: #546e7a !important;
}
.v-calendar-daily,
.v-skeleton-loader__actions,
.v-skeleton-loader__article,
.v-skeleton-loader__card-heading,
.v-skeleton-loader__card-text,
.v-skeleton-loader__date-picker,
.v-skeleton-loader__list-item,
.v-skeleton-loader__list-item-avatar,
.v-skeleton-loader__list-item-text,
.v-skeleton-loader__list-item-two-line,
.v-skeleton-loader__list-item-avatar-two-line,
.v-skeleton-loader__list-item-three-line,
.v-skeleton-loader__list-item-avatar-three-line,
.v-skeleton-loader__table-heading,
.v-skeleton-loader__table-thead,
.v-skeleton-loader__table-tbody,
.v-skeleton-loader__table-tfoot {
  background: none !important;
}
.v-skeleton-loader--inherit-size .v-skeleton-loader__bone {
  height: inherit !important;
  width: inherit !important;
}
.v-skeleton-loader--no-margin .v-skeleton-loader__bone {
  margin-bottom: 0 !important;
}
.v-btn--outlined:before {
  opacity: 0.08 !important;
}
.theme--dark.v-btn.v-btn--outlined:hover::before {
  opacity: 0.16 !important;
}
.w-100 {
  width: 100%;
}
.h-full {
  height: 100%;
}
.v-application {
  ul.v-list {
    padding-left: 0;
  }

  .e-title-link {
    color: #000;
    text-decoration-color: #1976d2;

    &:hover {
      text-decoration-thickness: 2px;
    }
  }
}
.tabular-nums {
  font-variant-numeric: tabular-nums;
}
.e-form-container + .e-form-container {
  margin-top: 12px;
}

.flex-full {
  flex: 1 1 0;
}

.v-sheet > .v-expansion-panels,
.v-card > .v-expansion-panels {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;

  > .v-expansion-panel + .v-expansion-panel {
    border-top: 1px solid #eee;
  }
}

.v-text-field--outlined.v-input--is-readonly:not(.v-input--is-focused):not(
    .v-input--has-state
  )
  > .v-input__control
  > .v-input__slot
  fieldset {
  color: rgb(0, 0, 0, 0.18);
}

.v-text-field.v-input--is-readonly > .v-input__control > .v-input__slot:before,
.v-text-field.v-input--is-readonly > .v-input__control > .v-input__slot:after {
  border-color: transparent !important;
  background-color: transparent !important;
}

.v-list-item__title {
  font-size: 16px;
}
.v-list-item__content {
  align-content: flex-start;
}

.dragging {
  cursor: move;
}

.vertical-baseline {
  vertical-align: baseline !important;
}

.pb-safe {
  padding-bottom: env(safe-area-inset-bottom);
}

.mb-safe {
  margin-bottom: env(safe-area-inset-bottom);
}

.d-flow-root {
  display: flow-root;
}

.d-contents {
  display: contents;
}

.d-grid {
  display: grid;
}

.d-inline-grid {
  display: inline-grid;
}

.opacity-60 {
  opacity: 0.6;
}

.grid-cols-2 {
  grid-template-columns: 1fr 1fr;
}

.grid-cols-fill {
  grid-template-columns: repeat(auto-fill, 1fr);
}

.currentColor--text {
  color: currentColor !important;
}

.e-button-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.gap-1 {
  gap: 4px;
}

.gap-2 {
  gap: 8px;
}

.gap-4 {
  gap: 16px;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.bottom-0 {
  bottom: 0;
}

.bottom-n100 {
  bottom: -100%;
}

.right-0 {
  right: 0;
}

.top-0 {
  top: 0;
}

.justify-items-center {
  justify-items: center;
}
