@use '~inter-ui/default' as inter-ui with (
  $inter-font-path: '~inter-ui/Inter (web hinted latin)'
);
@include inter-ui.weight-200;
@include inter-ui.weight-400;
@include inter-ui.weight-500;
@include inter-ui.weight-600;
body {
  font-feature-settings: 'ss03', 'calt', 'rlig', 'kern', 'cv05', 'cv07', 'cv08';
}
.text-uppercase {
  font-feature-settings: 'ss03', 'calt', 'rlig', 'kern', 'cv05', 'cv07';
}
.v-toolbar__title {
  font-weight: 500;
}
.theme--light.v-application {
  background: #546e7a !important;
}
.v-calendar-daily,
.v-skeleton-loader__actions,
.v-skeleton-loader__article,
.v-skeleton-loader__card-heading,
.v-skeleton-loader__card-text,
.v-skeleton-loader__date-picker,
.v-skeleton-loader__list-item,
.v-skeleton-loader__list-item-avatar,
.v-skeleton-loader__list-item-text,
.v-skeleton-loader__list-item-two-line,
.v-skeleton-loader__list-item-avatar-two-line,
.v-skeleton-loader__list-item-three-line,
.v-skeleton-loader__list-item-avatar-three-line,
.v-skeleton-loader__table-heading,
.v-skeleton-loader__table-thead,
.v-skeleton-loader__table-tbody,
.v-skeleton-loader__table-tfoot {
  background: none !important;
}
.v-btn--outlined:before {
  opacity: 0.08 !important;
}
.theme--dark.v-btn.v-btn--outlined:hover::before {
  opacity: 0.16 !important;
}
.w-100 {
  width: 100%;
}
.v-application {
  ul.v-list {
    padding-left: 0;
  }

  .e-title-link {
    color: #000;
    text-decoration-color: #1976d2;

    &:hover {
      text-decoration-thickness: 2px;
    }
  }
}
.tabular-nums {
  font-variant-numeric: tabular-nums;
}
.e-form-container + .e-form-container {
  margin-top: 12px;
}

.flex-full {
  flex: 1 1 0;
}

.v-sheet > .v-expansion-panels,
.v-card > .v-expansion-panels {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;

  > .v-expansion-panel + .v-expansion-panel {
    border-top: 1px solid #eee;
  }
}

.v-list-item__title {
  font-size: 16px;
}
.v-list-item__content {
  align-content: flex-start;
}

.dragging {
  cursor: move;
}

.pb-safe {
  padding-bottom: env(safe-area-inset-bottom);
}
