@use 'vuetify/settings';
@use 'sass:map';
// This will eventually be replaced by tailwind

.flex {
  display: flex;
}

.flex-none {
  flex: none;
}

.flex-grow-10 {
  flex-grow: 10;
}

.whitespace-normal {
  white-space: normal;
}

.break-inside-avoid {
  break-inside: avoid;
}

.min-h-full {
  min-height: 100%;
}

.max-w-screen {
  max-width: 100vw;
}

.max-w-60vw {
  max-width: 60vw;
}

.w-0 {
  width: 0;
}

.gap-1 {
  gap: 4px;
}

.gap-x-1 {
  column-gap: 4px;
}

.gap-y-1 {
  row-gap: 4px;
}

.gap-2 {
  gap: 8px;
}

@media #{map.get(settings.$display-breakpoints, 'sm-and-up')} {
  .sm\:gap-2 {
    gap: 8px;
  }
}

.gap-x-2 {
  column-gap: 8px;
}

.gap-4 {
  gap: 16px;
}

.gap-x-4 {
  column-gap: 16px;
}

.z-10 {
  z-index: 10;
}

.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-items-start {
  justify-items: start;
}

.justify-content-between {
  justify-content: space-between;
}

.opacity-60 {
  opacity: 0.6;
}

.italic {
  font-style: italic;
}

.text-inherit {
  color: inherit;
}

.uppercase {
  text-transform: uppercase;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

p.prose,
.prose p {
  margin-bottom: 1rem;
}
