/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );

@use 'vuetify/settings' with (
    $heading-font-family: ('Inter', sans-serif, emoji),
    $body-font-family: ('Inter', sans-serif, emoji),
    $font-weights: (
            'light': 200,
            'regular': 400,
            'bold': 600,
    ),

    $button-text-letter-spacing: 0.25px,
    $chip-icon-size-multiplier: calc(8/10),
    $button-text-transform: none,
    $bottom-navigation-min-width: 60px,
    $list-item-icon-margin-end: 20px,
    $menu-content-border-radius: 0 0 4px 4px,
    $card-actions-padding: 16px,
    $expansion-panel-title-padding: 16px,
    $expansion-panel-text-padding: 0 16px 16px,
);