
<div>
    <table border="0" style="width: 100%">
        <col width="10%" />
        <col width="70%" />
        <col width="20%" />
        <tr>
            <td style="padding: 0px 3px; text-decoration: underline;">Duration:</td>
            <td style="padding: 0px 5px; text-decoration: underline;">Text:</td>
            <td style="padding: 0px 3px; text-decoration: underline;">Info:</td>
        </tr>

        {% for section in sections %}
            {% include 'ecamp-storyboard/print-section' %}
        {% endfor %}
    </table>

</div>
