<div
    remote-collection="{{ url('plugin/storyboard/api', { 'eventPluginId': eventPlugin.id }) }}"
    resource-name="Sections"
    sortable="position"
>

    <div class="row">
        <div class="col-sm-3 col-md-2" style="padding-left: 20px;">
            <b>Duration</b>
        </div>
        <div class="col-sm-6 col-md-7">
            <b>Text</b>
        </div>
        <div class="col-sm-3">
            <b>Info</b>

            <div class="pull-right">
                {#
                <a
                        href="{{ url('plugin/storyboard/default', { 'eventPluginId': eventPlugin.id, 'action': 'create' }) }}"
                        class="createItem btn btn-xs btn-default">
                    <i class="fa fa-plus"></i>
                </a>
                #}
            </div>
        </div>
        <div class="col-xs-12">
            <div style="border-bottom: 1px #ddd solid; margin: 2px 0px 0px 0px;" ></div>
        </div>
    </div>

    <ul class="items list-striped"
        style="list-style: none; padding: 0px;"
    >
        <li ng-repeat="item in Sections.Items" class="item">
            <form remote-resource="item" resource-name="section" name="form" ng-keydown="section.KeyHandler($event)">

                <div class="row">
                    <div class="col-xs-12">
                        <div style="border-bottom: 1px #ddd solid; margin: 0px 0px 5px 0px" ></div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3 col-md-2" style="padding-left: 20px;">

                        <div style="text-align: center" ng-show="!section.IsEditing()" ng-click="section.Edit()">
                            <span ng-bind="section.HalResource.duration / 60 | floor"></span><small>h</small>
                            <sup><small ng-bind="section.HalResource.duration % 60"></small></sup>
                        </div>

                        <div class="form-group has-feedback" ng-class="{ 'has-success': form.duration.$valid, 'has-error': form.duration.$invalid }" ng-show="section.IsEditing()">
                            <label class="control-label sr-only">Duration</label>
                            <input duration-min name="duration" type="string" ng-model="section.EditData.duration" class="form-control" required ng-pattern="/[0-9]*\:[0-9]{1,2}/" />

                            <span ng-class="{ 'glyphicon-ok': form.duration.$valid, 'glyphicon-remove': form.duration.$invalid }"
                                  class="glyphicon form-control-feedback"
                                  aria-hidden="true"
                            ></span>

                            <div ng-show="form.duration.$error.required" class="help-block">Value is required.</div>
                            <div ng-show="form.duration.$error.pattern" class="help-block">Pattern invalid.</div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-7">
                        <pre ng-show="!section.IsEditing()" ng-bind="section.HalResource.text" ng-click="section.Edit()"
                             style="font-family: inherit; background: inherit; border: inherit; padding: 0" ></pre>

                        <div class="form-group has-feedback" ng-class="{ 'has-success': form.text.$valid, 'has-error': form.text.$invalid }" ng-show="section.IsEditing()">
                            <label class="control-label sr-only">Text</label>
                            <textarea autosize name="text" type="text" ng-model="section.EditData.text" required class="form-control"></textarea>

                            <span ng-class="{ 'glyphicon-ok': form.text.$valid, 'glyphicon-remove': form.text.$invalid }"
                                  class="glyphicon form-control-feedback"
                                  aria-hidden="true"
                            ></span>

                            <div ng-show="form.text.$error.required" class="help-block">Value is required.</div>
                        </div>

                    </div>
                    <div class="col-sm-3">
                        <pre ng-show="!section.IsEditing()" ng-bind="section.HalResource.info" ng-click="section.Edit()"
                             style="font-family: inherit; background: inherit; border: inherit; padding: 0"></pre>
                        <textarea autosize ng-show="section.IsEditing()" ng-model="section.EditData.info" class="form-control"></textarea>

                        <div style="text-align: right">
                            <div ng-show="!section.IsEditing()" class="btn-group" style="text-align: left">
                                <button type="button" class="btn btn-xs btn-default" ng-click="section.Edit()">Edit</button>
                                <button type="button" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown">
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu pull-right" role="menu">
                                    <li>
                                        <a ng-click="Sections.MoveUp(section)">
                                            <i class="fa fa-arrow-circle-o-up"></i> Move up
                                        </a>
                                    </li>
                                    <li>
                                        <a ng-click="Sections.MoveDown(section)">
                                            <i class="fa fa-arrow-circle-o-down"></i> Move down
                                        </a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a ng-click="Sections.Delete(section)">
                                            <i class="fa fa-trash-o"></i> Delete
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div ng-show="section.IsEditing()" class="btn-group" style="text-align: left">
                                <button class="btn btn-xs btn-success" ng-click="section.Save()">Save</button>
                                <button class="btn btn-xs btn-danger" ng-click="section.Cancel()">Cancel</button>
                            </div>
                        {#
                            {% include 'plugin/item-actions' with {'pluginName':'storyboard', 'movable':true } %}
                        #}
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <div style="margin: 5px 0px 0px 0px" ></div>
                    </div>
                </div>

            </form>
        </li>

        <form remote-create-resource="{{ url('plugin/storyboard/api', { 'eventPluginId': eventPlugin.id }) }}"
              name="form"
              resource-name="section"
              ng-keydown="section.KeyHandler($event)"
        >
            <div class="row" ng-show="section.IsVisible()">
                <div class="col-sm-3 col-md-2" style="padding-left: 20px;">

                    <div class="form-group has-feedback" ng-class="{ 'has-success': form.duration.$valid, 'has-error': form.duration.$invalid }">
                        <label class="control-label sr-only">Duration</label>
                        <input duration-min name="duration" type="string" ng-model="section.Data.duration" class="form-control" required ng-pattern="/[0-9]*\:[0-9]{1,2}/" />

                        <span ng-class="{ 'glyphicon-ok': form.duration.$valid, 'glyphicon-remove': form.duration.$invalid }"
                              class="glyphicon form-control-feedback"
                              aria-hidden="true"
                        ></span>

                        <div ng-show="form.duration.$error.required" class="help-block">Value is required.</div>
                        <div ng-show="form.duration.$error.pattern" class="help-block">Pattern invalid.</div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-7">
                    <div class="form-group has-feedback" ng-class="{ 'has-success': form.text.$valid, 'has-error': form.text.$invalid }">
                        <label class="control-label sr-only">Text</label>
                        <textarea autosize name="text" type="text" ng-model="section.Data.text" required class="form-control"></textarea>

                        <span ng-class="{ 'glyphicon-ok': form.text.$valid, 'glyphicon-remove': form.text.$invalid }"
                              class="glyphicon form-control-feedback"
                              aria-hidden="true"
                        ></span>

                        <div ng-show="form.text.$error.required" class="help-block">Value is required.</div>
                    </div>

                </div>
                <div class="col-sm-3">
                    <textarea autosize ng-model="section.Data.info" class="form-control"></textarea>

                    <div style="text-align: right">
                        <div class="btn-group" style="text-align: left">
                            <button class="btn btn-xs btn-success" ng-click="Sections.Create(section);">Create</button>
                            <button class="btn btn-xs btn-danger" ng-click="section.Cancel();">Cancel</button>
                        </div>
                    </div>

                </div>
            </div>
        </form>
        <div class="row" ng-show="!section.IsVisible()">
            <div class="col-xs-12">
                <div style="text-align: right">
                    <a class="btn tbn-xs btn-success" ng-click="section.Show()">Create section</a>
                </div>
            </div>
        </div>
    </ul>

    {#
    <ul style="list-style: none; padding: 0px;" class="items list-striped">
        {% for item in sections %}
            {% include 'ecamp-storyboard/section' %}
        {% endfor %}
    </ul>
    #}
</div>
