<script src="/ecamp-web/js/Plugin.js"></script>
<script src="/ecamp-web/js/Plugin/Itemized.js"></script>

<div>
	<div class="row">
		<div class="col-sm-3 col-md-2" style="padding-left: 20px;">
			<b>Duration</b>
		</div>
		<div class="col-sm-6 col-md-7">
			<b>Text</b>
		</div>
		<div class="col-sm-3">
			<b>Info</b>
			{#
		</div>
		<div class="col-sm-2" style="padding-right: 20px;">
			<b>Option</b>
			#}
			<div class="pull-right">
				<a
					href="{{ url('plugin/storyboard/default', { 'eventPluginId': eventPlugin.id, 'action': 'create' }) }}"
					class="createItem btn btn-xs btn-default">
					<i class="fa fa-plus"></i>
				</a>
			</div>
		</div>
		<div class="col-xs-12">
			<div style="border-bottom: 1px #ddd solid; margin: 2px 0px 0px 0px;" ></div>
		</div>
	</div>

	<ul style="list-style: none; padding: 0px;" class="items list-striped">
		{% for item in sections %}
			{% include 'ecamp-storyboard/section' %}
		{% endfor %}
	</ul>
</div>

<script type="text/javascript">

	$(function(){
		var plugin = new Ecamp.Web.Plugin.Itemized({
			eventPluginId : '{{eventPlugin.id}}',
			showNewForm   : false,
			movableItems  : true
		});

		//plugin.eventPluginElm.find('select.selectpicker').selectpicker();
		
		
	});

</script>
