{% extends 'e-camp/web/camp.twig' %}

{% block layout_body %}
    <section class="container">

        <div class="card" style="margin-bottom: 10px">
            <div class="card-body">
                Aufgaben
                <ul>
                    <li>Neue erfassen</li>
                    <li>Aufgaben zuteilen</li>
                    <li>Aufgaben erledigt setzen</li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                TODO
            </div>
        </div>
    </section>

{% endblock %}
