<div class="edit-membership-container">
    <div class="btn-group">

        <a  class="btn btn-xs btn-default btn-danger reject-request"
            href="{{ url('web/group-prefix/name/default',
            { 'group': membership.group, 'controller': 'MembershipHelper', 'action': 'rejectRequest' },
            { 'query': { 'user': membership.user.id } }) }}"
                >
            <i class="fa fa-times"></i>
            <b>Reject request</b>
        </a>

        <a  class="btn btn-xs btn-default btn-success accept-request"
            href="{{ url('web/group-prefix/name/default',
                        { 'group': membership.group, 'controller': 'MembershipHelper', 'action': 'acceptRequest' },
                        { 'query': { 'user': membership.user.id } }) }}"
        >
            <i class="fa fa-check"></i>
            <b>Accept request</b>
        </a>

        <div class="btn-group">
            <button type="button" class="btn btn-xs btn-default btn-success dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu pull-right">
                <li>
                    <a  class="accept-request"
                        href="{{ url('web/group-prefix/name/default',
                                    { 'group': membership.group, 'controller': 'MembershipHelper', 'action': 'acceptRequest' },
                                    { 'query': { 'user': membership.user.id, 'role': 'member' } }) }}"
                    >
                        as member
                    </a>
                </li>
                <li>
                    <a  class="accept-request"
                        href="{{ url('web/group-prefix/name/default',
                                    { 'group': membership.group, 'controller': 'MembershipHelper', 'action': 'acceptRequest' },
                                    { 'query': { 'user': membership.user.id, 'role': 'manager' } }) }}"
                    >
                        as manager
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <!-- add loading spinner -->
</div>
