<div class="edit-membership-container">
    <div class="btn-group">
        <a  class="btn btn-xs btn-default btn-danger reject-request"
            href="{{ url('web/group-prefix/name/default',
                        { 'group': membership.group, 'controller': 'MembershipHelper', 'action': 'rejectRequest' }) }}"
        >
            <b>Reject request</b>
        </a>
    </div>

    <!-- add loading spinner -->
</div>
