<div class="edit-membership-container">
    <div class="btn-group">
        <a  class="btn btn-xs btn-default btn-danger revoke-invitation"
            href="{{ url('web/group-prefix/name/default',
                        { 'group': membership.group, 'controller': 'MembershipHelper', 'action': 'revokeInvitation' },
                        { 'query': { 'user': membership.user.id } }) }}"
        >
            <b>Revoke invitation</b>
        </a>
    </div>

    <!-- add loading spinner -->
</div>
