{% extends 'ecamp-web/group/group.twig' %}


{% block content %}

    <div class="row">
        <div class="col-sm-12">
            {% embed "helper/accordion.twig" with { 'id': 'upcomingCamps' } %}
                {% block panel_title %}
                    Upcoming camps
                    <div class="pull-right" style="margin-top: -2px">
                        {#
                        {{ upcomingCampsPaginator.totalItemCount }}
                        #}
                        <button class="btn btn-xs btn-success">
                            <i class="fa fa-plus"></i> Create camp
                        </button>
                    </div>
                {% endblock %}
                {% block panel_content %}
                    {% include 'ecamp-web/group/camps/upcoming-camps.twig' with { 'paginator': upcomingCampsPaginator } %}
                {% endblock %}
            {% endembed %}
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            {% embed "helper/accordion.twig" with { 'id': 'pastCamps', 'collapsed': true } %}
                {% block panel_title %}
                    Past camps {# [{{ pastCampsPaginator.totalItemCount  }}] #}
                {% endblock %}
                {% block panel_content %}
                    {% include 'ecamp-web/group/camps/past-camps.twig' with { 'paginator': pastCampsPaginator } %}
                {% endblock %}
            {% endembed %}
        </div>
    </div>

{% endblock %}
