apiToken: {{ .Environment.Values | getOrNil "API_TOKEN" | required "API_TOKEN is required" }}
external-dns:
  provider:
    name: {{ .Environment.Values | get "EXTERNAL_DNS_PROVIDER" "cloudflare" }}
  env:
    - name: CF_API_TOKEN
      valueFrom:
        secretKeyRef:
          name: {{ .Release.Name }}-apitoken-secret
          key: apiKey
  sources:
    - gateway-httproute
  extraArgs:
    - --cloudflare-proxied
