{% extends 'e-camp/web-layout/html5.bootstrap.twig' %}

{% block body %}
    <div class="bgimage"></div>

    <div class="layout">
        <div class="layout-header">
            {% block layout_header %}
                {% include 'e-camp/web-header/main.twig' %}
            {% endblock %}
        </div>
        <div class="layout-body">
            {% block layout_body %}{% endblock %}
        </div>
    </div>
{% endblock %}

{% block bodyScript %}
    <script type="text/javascript" src="http://localhost:8080/js/main.js"></script>
{% endblock %}