{% for childViewModel in childViewModels %}
	{% RenderViewModel childViewModel %}
{% endfor %}

<a href="#" class="btn btn-success">ADD</a>

{#
<div class="btn-group pull-right" style="margin-right: 5px;">
	<button
		type="button"
		class="btn btn-xs btn-success dropdown-toggle"
		style="margin-top:3px; height: 25px; padding: 2px 8px"
		data-toggle="dropdown"
	>
		<i class="fa fa-plus"></i> Add Plugin
		<span class="caret" style="margin-left: 5px"></span>
	</button>
	<ul class="dropdown-menu" role="menu"
		style="border-top-left-radius: 4px; border-top-right-radius: 4px; margin-top: 2px;"
	>
    	<li><a href="#">Storyboard</a></li>
    	<li><a href="#">Storyboard 2</a></li>
	</ul>
</div>
#}
