{% extends 'layout/layout.default.twig' %}


{% block layout_header %}
    {% include 'header/user.twig' %}
{% endblock %}


{% block layout_body %}
    <section class="container white {{ layoutBodyClass }}">
        <div class="row {{ layoutBodyClass }}">
            <div class="col-sm-2">
                {% include 'ecamp-web/user/user.menu.twig' %}
            </div>
            <div class="col-sm-10 {{ layoutBodyClass }}">
                {% block content %}{% endblock %}
            </div>
        </div>
    </section>
{% endblock %}
