{% extends 'e-camp/web-layout/layout.base.twig' %}

{% block layout_body %}
    <section class="container">

        <div class="row">
            <div class="col-sm-12">

                Index...

            </div>
        </div>
    </section>
{% endblock %}
