{% extends 'e-camp/web-layout/layout.base.twig' %}

{% block link %}
    {{ parent() }}

    <link rel="stylesheet" type="text/css" href="{{ basePath('assets/module/web/css/main.css') }}" />
{% endblock %}

{% block layout_body %}
    <section class="container">

        <div class="row">
            <div class="col-sm-12">

                Index...

            </div>
        </div>
    </section>
{% endblock %}
