{{- if .Values.ingress.enabled -}}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ include "api.name" . }}
  labels:
    {{- include "api.selectorLabels" . | nindent 4 }}
    {{- include "app.commonLabels" . | nindent 4 }}
  annotations:
    {{- with .Values.ingress.annotations }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
    {{- include "ingress.basicAuth.annotations" . | nindent 4 }}
    nginx.ingress.kubernetes.io/rewrite-target: /$2
    nginx.ingress.kubernetes.io/x-forwarded-prefix: {{ .Values.api.subpath }}
spec:
  ingressClassName: {{ .Values.ingress.className }}
  {{- if .Values.ingress.tls }}
  tls:
    - hosts:
        - {{ $.Values.domain | quote }}
      secretName: {{ .Values.ingress.tls.secretName }}
  {{- end }}
  rules:
    - host: {{ .Values.domain | quote }}
      http:
        paths:
          - path: {{ .Values.api.subpath }}(/|$)(.*)
            pathType: Prefix
            backend:
              service:
                {{- if .Values.apiCache.enabled }}
                name: {{ include "apiCache.name" . }}
                port:
                  number: {{ .Values.apiCache.service.ports.http }}
                {{- else }}
                name: {{ include "api.name" . }}
                port:
                  number: {{ .Values.api.service.port }}
                {{- end }}
{{- end }}
