apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "frontend.name" . }}-configmap
  labels:
    {{- include "app.labels" . | nindent 4 }}
data:
  environment.js: |
    window.environment = {
      API_ROOT_URL: '{{ include "api.url" . }}',
      COOKIE_PREFIX: '{{ include "api.cookiePrefix" . }}',
      PRINT_URL: '{{ include "print.url" . }}',
    {{- if .Values.frontend.sentryDsn }}
      SENTRY_FRONTEND_DSN: '{{ .Values.frontend.sentryDsn }}',
      SENTRY_ENVIRONMENT: '{{ .Values.frontend.domain }}',
    {{- else }}
      SENTRY_FRONTEND_DSN: null,
    {{- end }}
      SHARED_COOKIE_DOMAIN: '{{ .Values.sharedCookieDomain }}',
      DEPLOYMENT_TIME: '{{ .Values.deploymentTime }}',
      VERSION: '{{ .Values.deployedVersion }}',
      VERSION_LINK_TEMPLATE: '{{ .Values.versionLinkTemplate }}',
    {{- if .Values.recaptcha.siteKey }}
      RECAPTCHA_SITE_KEY: '{{ .Values.recaptcha.siteKey }}',
    {{- else }}
      RECAPTCHA_SITE_KEY: null,
    {{- end }}
      FEATURE_DEVELOPER: {{ .Values.featureToggle.developer | default false }},
    }
