apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "frontend.name" . }}-configmap
  labels:
    {{- include "frontend.selectorLabels" . | nindent 4 }}
    {{- include "app.commonLabels" . | nindent 4 }}
data:
  environment.js: |
    window.environment = {
      API_ROOT_URL: '{{ include "api.url" . }}',
      COOKIE_PREFIX: '{{ include "api.cookiePrefix" . }}',
      PRINT_URL: '{{ include "print.url" . }}',
    {{- if .Values.frontend.sentryDsn }}
      SENTRY_FRONTEND_DSN: '{{ .Values.frontend.sentryDsn }}',
      SENTRY_ENVIRONMENT: '{{ .Values.domain }}',
    {{- else }}
      SENTRY_FRONTEND_DSN: null,
    {{- end }}
      DEPLOYMENT_TIME: '{{ .Values.deploymentTime }}',
      VERSION: '{{ .Values.deployedVersion }}',
      VERSION_LINK_TEMPLATE: '{{ .Values.versionLinkTemplate }}',
      TERMS_OF_SERVICE_LINK_TEMPLATE: '{{ .Values.termsOfServiceLinkTemplate }}',
      NEWS_LINK: '{{ .Values.newsLink }}',
      HELP_LINK: '{{ .Values.helpLink }}',
    {{- if .Values.recaptcha.siteKey }}
      RECAPTCHA_SITE_KEY: '{{ .Values.recaptcha.siteKey }}',
    {{- else }}
      RECAPTCHA_SITE_KEY: null,
    {{- end }}
      FEATURE_DEVELOPER: {{ .Values.featureToggle.developer | default false }},
      FEATURE_CHECKLIST: {{ .Values.featureToggle.checklist | default false }},
      LOGIN_INFO_TEXT_KEY: '{{ .Values.frontend.loginInfoTextKey }}',
    }
  deployedVersion: {{ .Values.deployedVersion | quote }}
