apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "print.name" . }}-configmap
  labels:
    {{- include "app.labels" . | nindent 4 }}
data:
  INTERNAL_API_ROOT_URL: {{ include "api.url" . | quote }}
  FRONTEND_URL: {{ include "frontend.url" . | quote }}
  PRINT_SERVER: {{ include "print.url" . | quote }}
  COOKIE_PREFIX: {{ include "api.cookiePrefix" . | quote }}
  SENTRY_ENVIRONMENT: {{ .Values.frontend.domain | quote }}
