{{- if .Values.ingress.enabled -}}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ include "print.name" . }}
  labels:
    {{- include "print.selectorLabels" . | nindent 4 }}
    {{- include "app.commonLabels" . | nindent 4 }}
  annotations:
    {{- with .Values.ingress.annotations }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
    {{- include "ingress.basicAuth.annotations" . | nindent 4 }}
    {{- if not (.Values.print.ingress.readTimeoutSeconds | empty) }}
    nginx.ingress.kubernetes.io/use-regex: "true"
    nginx.ingress.kubernetes.io/proxy-read-timeout: {{ .Values.print.ingress.readTimeoutSeconds | quote }}
    {{- end }}
spec:
  ingressClassName: {{ .Values.ingress.className }}
  {{- if .Values.ingress.tls }}
  tls:
    - hosts:
        - {{ $.Values.domain | quote }}
      secretName: {{ .Values.ingress.tls.secretName }}
  {{- end }}
  rules:
    - host: {{ .Values.domain | quote }}
      http:
        paths:
          - path: {{ .Values.print.subpath }}(/|$)(.*)
            pathType: Prefix
            backend:
              service:
                name: {{ include "print.name" . }}
                port:
                  number: {{ .Values.print.service.port }}
{{- end }}
