
.full-height-container {
    display: table;
    height: 100%;
    width: 100%;
}

.full-height-header {
    display: table-row;
}

.full-height-body {
    display: table-row;
    height: 100%;
}

.picasso-fullscreen {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    background-color: #fff;
    border: 10px solid #fff;
}


.picasso-timetable {
    position: relative;

    height: 100%;
    width: 100%;
}

.picasso-timeline-left {
    position: absolute;

    top: 0;
    left: 0;

    height: 100%;
}

.picasso-timeline-right {
    position: absolute;

    top: 0;
    right: 0;

    height: 100%;
}

@media (max-width: 768px){
    .picasso-timeline-right {
        display: none;
    }
}

.picasso-timeline {
    height: 100%;
    width: 110px;
}


.picasso-timestrips {
    position: absolute;
    height: 100%;
}


.picasso-timeline-slot-odd {
    background-color: #eee;
}

.picasso-timeline-slot-even {
    /* background-color: #ddd; */
}

.picasso-timeline-slot-even, .picasso-timeline-slot-odd {
    position: absolute;
    width: 100%;
    white-space: nowrap;
    text-align: center;
}
.picasso-timeline-slot-even:before, .picasso-timeline-slot-odd:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 0;
    /* adjust for white space between pseudo element and next sibling */
    margin-right: -.25em;
    /* stretch line height */
    height: 100%;
}

.picasso-timeslot {
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
}

.picasso-body {
    position: absolute;
    top:0px;
    bottom: 0px;
    left: 110px;
    right: 110px;
}

@media (max-width: 768px){
    .picasso-body {
        right: 0px;
    }
}

.picasso-date {
    position: absolute;
    top: 0;
    bottom: 0;
}

.picasso-date-header {
    text-align: center;
}

.picasso-date-background-even {
    position: absolute;
    width: 100%;
    height: 100%;

    background-color: #000;
    opacity: 0.02;
}

.picasso-date-background-odd {
    position: absolute;
    width: 100%;
    height: 100%;

    background-color: #000;
    opacity: 0.1;
}

.picasso-date-body {
    position: absolute;
    top: 25px;
    bottom: 0;
}

.picasso-date-day-header {
    text-align: center;
}

.picasso-date-day-body {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    opacity: 0.1;
}

.picasso-day {
    position: absolute;
    top: 25px;
    bottom: 0;
    width: 150px;
}


.picasso-days {
    overflow-x: scroll;
    position: absolute;
    height: 100%;
}


.animate-repeat,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
    transition: opacity linear 0.5s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-enter {
    opacity:0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-enter.ng-enter-active {
    opacity:1;
}

/* .event-instance, */
/*
.event-instance.ng-enter,
.event-instance.ng-leave {
    transition: opacity linear 0.5s;
}

.event-instance.ng-leave.ng-leave-active,
.event-instance.ng-enter {
    opacity:0;
}

.event-instance.ng-leave,
.event-instance.ng-enter.ng-enter-active {
    opacity:1;
}

.event-instance {
    transition: left 1s, top 1s, width 1s, height 1s;
}
.event-instance.user-event {
    transition: none !important;
}

.event-instance.ng-enter,
.event-instance.ng-leave {
    transition: opacity linear 1s;
}

.event-instance.ng-leave.ng-leave-active,
.event-instance.ng-enter {
    opacity:0;
}

.event-instance.ng-leave,
.event-instance.ng-enter.ng-enter-active {
    opacity:1;
}
*/


/*
.event-instance,
.event-instance.ng-enter,
.event-instance.ng-leave {
    -webkit-transition: 400s cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 400s cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 400s cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 400s cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 400s cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
/ *
    position: relative;
* /
    display: block;
}

.event-instance.ng-leave.ng-leave-active,
.event-instance.ng-enter {
    -webkit-transform: scaleY(0) scaleX(0);
    -moz-transform: scaleY(0) scaleX(0);
    -ms-transform: scaleY(0) scaleX(0);
    -o-transform: scaleY(0) scaleX(0);
    transform: scaleY(0) scaleX(0);
/ *
    height: 0px;
    opacity: 0;
* /
}

.event-instance.ng-enter.ng-enter-active,
.event-instance.ng-leave {
    -webkit-transform: scaleY(1) scaleX(1);
    -moz-transform: scaleY(1) scaleX(1);
    -ms-transform: scaleY(1) scaleX(1);
    -o-transform: scaleY(1) scaleX(1);
    transform: scaleY(1) scaleX(1);
/ *
    height: 30px;
    opacity: 1;
* /
}
*/
