{% extends 'e-camp/web/user.twig' %}

{% block layout_body %}
    <section class="container">

        <div class="row">
            <div class="col-sm-12">
                Groups...
                <br />
                <br />
                <table style="width: 100%" border="1">
                    <tr>
                        <td>Name: </td>
                        <td>{{ user.displayname }}</td>
                    </tr>
                </table>
                <br />
                <table style="width: 100%" border="1">
                    {% for membership in groupMemberships %}
                        <tr>
                            <td>
                                <a href="{{ url('ecamp.web/group', { 'group': membership.group }) }}">
                                {{ membership.group.name }}
                                </a>
                            </td>
                            <td>
                                {{ membership.status }}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </section>
{% endblock %}
