/* styles for in-browser print preview to simulate printing. These styles or only applied in screen media */
:root {
  --color-background: whitesmoke;
  --color-paper: white;
}

@media screen {
  body {
    background-color: var(--color-background);
  }

  .tw-break-after-page {
    background-color: var(--color-paper);
    padding: 57px; /* page margin: 15mmm at 96dpi */
    margin: 35px auto;
  }

  .a3.tw-break-after-page {
    max-width: 1123px; /* page width: A3 width of 297mm at 96dpi */
    min-height: 1588px; /* page height: A3 height of 420mm at 96dpi */
  }
  .a4.tw-break-after-page {
    max-width: 794px; /* page width: A4 width of 210mm at 96dpi */
    min-height: 1123px; /* page height: A4 height of 297mm at 96dpi */
  }
  .a5.tw-break-after-page {
    max-width: 562px; /* page width: A5 width of 149mm at 96dpi */
    min-height: 794px; /* page height: A5 height of 210mm at 96dpi */
  }

  .a3.tw-break-after-page.landscape-page {
    max-width: 1588px; /* page width: A3 landscape width of 420mm at 96dpi */
    min-height: 1123px; /* page height: A3 landscape height of 297mm at 96dpi */
  }
  .a4.tw-break-after-page.landscape-page {
    max-width: 1123px; /* page width: A4 landscape width of 297mm at 96dpi */
    min-height: 794px; /* page height: A4 landscape height of 210mm at 96dpi */
  }
  .a5.tw-break-after-page.landscape-page {
    max-width: 794px; /* page width: A5 landscape width of 210mm at 96dpi */
    min-height: 562px; /* page height: A5 landscape height of 149mm at 96dpi */
  }

  .tw-break-after-page .tw-break-after-page {
    margin: 0; /* avoid margin stacking for nested `tw-break-after-page` */
    padding: 0;
    min-height: 0px;

    border-bottom: 1px dashed black;
    margin-bottom: 24px;
  }
}
