html {
  font-size: 10pt;
}

/* override standard styling from @tailwindcss/typography  */

.tw-prose :where(.tw-prose > :first-child):not(:where([class~='tw-not-prose'] *)) {
  margin-top: 0 !important;
}

.tw-prose {
  line-height: 1.5;
  max-width: 100%;
}

.body {
  color: #404040; /* same as variable --tw-prose-body from class .tw-prose-neutral (neutral-700) */
}
