// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

$body-font-family: 'InterDisplay', Helvetica Neue, Helvetica, Arial, sans-serif;
$font-size-root: 10pt;
