{% extends 'e-camp/web/camp.twig' %}

{% block layout_body %}
    <section class="container">

        <div class="card" style="margin-bottom: 10px">
            <div class="card-body">
                Übersicht über alle Mitarbeiter dieses Lagers
                <ul>
                    <li>Mitarbeiter einladen</li>
                    <li>Mitarbeiter Funktion anpassen</li>
                    <li>Mitarbeiter ausladen</li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                TODO
            </div>
        </div>
    </section>
{% endblock %}
