<!-- Modal / Add Period -->
    <div class="modal-dialog">
      <div class="modal-content">
	        <div class="modal-header">
	          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	          <h4 class="modal-title">Add Period</h4>
	        </div>
	        <div class="modal-body">
	        	<form role="form" id="asyncform-form" name="asyncform-form"
	        	   data-async  data-target="#asyncform-container" method="post"
	        	   action                     ="{{ url('web/camp/default', {'camp': camp, 'controller':'index', 'action' : 'addperiod' } ) }}" 
	               data-redirect-after-success="{{ url('web/camp/default', {'camp': camp, 'controller':'index', 'action' : 'index' } ) }}">
				 
				{{ form(form) }}
				
	        </div>
	        <div class="modal-footer">
	          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
	          <button type="submit" form="asyncform-form" class="btn btn-primary">Add Period</button>
	        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
 