{% extends 'ecamp-web/camp/camp.twig' %}

{% block content2 %}

	<h1>{{ eventCategory.short }}: {{ event.title }}</h1>

	<div class="row">
		<div class="col-sm-8">
			{% embed "helper/accordion.twig" %}
				{% block panel_title %}
					Event Instances
				{% endblock %}
				{% block panel_content %}

					{% for eventInstance in event.eventInstances %}
						{{ eventInstance.startTime | date("h:i") }}
					{% endfor %}

				{% endblock %}
			{% endembed %}
		</div>
		<div class="col-sm-4">
			{% embed "helper/accordion.twig" %}
				{% block panel_title %}
					Responsable
				{% endblock %}
				{% block panel_content %}

				{% endblock %}
			{% endembed %}
		</div>
	</div>

{% endblock %}
