window.environment = {
  API_ROOT_URL: 'http://localhost:3001',
  COOKIE_PREFIX: 'localhost_',
  PRINT_URL: 'http://localhost:3003',
  SENTRY_FRONTEND_DSN: null,
  SENTRY_ENVIRONMENT: "http://localhost:3000",
  SHARED_COOKIE_DOMAIN: 'localhost',
  DEPLOYMENT_TIME: '',
  VERSION: '',
  VERSION_LINK_TEMPLATE: 'https://github.com/ecamp/ecamp3/commit/{version}',
  FEATURE_DEVELOPER: true
}
