window.environment = {
  API_ROOT_URL: 'https://api-ecamp3.mybytes.ch',
  COOKIE_PREFIX: 'api-ecamp3_mybytes_ch_',
  PRINT_URL: 'https://print-ecamp3.mybytes.ch',
  SENTRY_FRONTEND_DSN: null,
  SENTRY_ENVIRONMENT: "",
  SHARED_COOKIE_DOMAIN: '.mybytes.ch',
  DEPLOYMENT_TIME: '',
  VERSION: '',
  VERSION_LINK_TEMPLATE: 'https://github.com/ecamp/ecamp3/commit/{version}',
  FEATURE_DEVELOPER: true
}