window.environment = {
  API_ROOT_URL: 'http://localhost:4001',
  PRINT_SERVER: 'http://localhost:3003',
  PRINT_FILE_SERVER: 'http://localhost:3005',
  SENTRY_FRONTEND_DSN: null,
  VERSION: '',
  VERSION_LINK_TEMPLATE: 'https://github.com/ecamp/ecamp3/commit/{version}',
}
