{% extends 'header/base.twig' %}

{% block header_icon %}
    <table border="0" style="width: 100%; border: 0px;">
        <tr>
            <td width="120px">
                <img width="100" class="img-rounded" src="http://blog.ericlamb.net/images/uploads/2010/03/center_gravatar.jpg" >
            </td>
            <td>
                <h1>eCamp</h1>
                <p>{{ translate("Successfully plan camps") }}</p>
            </td>
        </tr>
    </table>
{% endblock %}


{% block breadcrumb %}{% endblock %}
