{% extends 'e-camp/web-layout/layout.base.twig' %}

{% block layout_header %}
    {% include 'e-camp/web-header/groups.twig' %}
{% endblock %}

{% block layout_body %}
    <section class="container">
        <div class="row">
            <div class="col-xl-12">
                <h2>My Groups</h2>
            </div>

            <div class="col-xl-12">
                <hr />
            </div>

            <div class="col-xl-12">
                <h2>Root Groups</h2>
            </div>

            {% for group in groups %}
                <div class="col-md-12 col-lg-6">
                    <a  href="{{ url('ecamp.web/group', { group: group }) }}"
                        style="text-decoration: none; color: inherit"
                    >
                        <div class="card">
                            <h3 class="card-header">
                                <i class="zmdi zmdi-hc-fw zmdi-flag"></i>
                                {{ group.name }}
                            </h3>
                            <div class="card-body">
                                <p>{{ group.description }}</p>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}
