{% extends 'e-camp/web/camp.twig' %}

{% block layout_body %}
    <section class="container">

        <div class="card" style="margin-bottom: 10px">
            <div class="card-body">
                Infos zu genau einem Lager, id 1fb176e0
                <ul>
                    <li>Name</li>
                    <li>Titel</li>
                    <li>Motto</li>
                    <li>Ort</li>
                    <li>Lager-Perioden</li>
                </ul>
            </div>
        </div>

        <div id="camp-details">
            <camp-details camp-id="1fb176e0" />
        </div>

        <script type="text/javascript" src="/js/CampDetails.js"></script>

        <div class="row">
            <div class="col-sm-12">
                TODO
            </div>
        </div>
    </section>

{% endblock %}
