{% extends 'e-camp/web/camp.twig' %}

{% block layout_body %}
    <section class="container">

        <div id="app"></div>

    </section>

{% endblock %}


{% block bodyScript %}
    {{ parent() }}
    {{ includeScriptIfPresent('campDetails.js', 'No generated JavaScript Assets from Webpack found. Please run the following command inside the module/eCampWeb/vue folder:<pre>npm install && npm run dev</pre>') }}
{% endblock %}
