{% extends 'e-camp/web/camp.twig' %}

{% block layout_body %}
    <section class="container">

        <div class="card" style="margin-bottom: 10px">
            <div class="card-body">
                Infos zu genau einem Lager
                <ul>
                    <li>Name</li>
                    <li>Titel</li>
                    <li>Motto</li>
                    <li>Ort</li>
                    <li>Lager-Perioden</li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                TODO
            </div>
        </div>
    </section>

{% endblock %}
