{% extends 'e-camp/web/camp.twig' %}

{% block layout_body %}
    <section class="container">

        <div id="camp-details" data-camp-id="{{ campId }}"></div>
        <script type="text/javascript" src="http://localhost:8080/js/main.js"></script>

    </section>

{% endblock %}
