{% extends 'e-camp/web/camp.twig' %}

{% block layout_body %}
    <section class="container">

        <camp-details id="camp-details" camp-id="{{ campId }}"></camp-details>
        <script type="text/javascript" src="/js/CampDetails.js"></script>

    </section>

{% endblock %}
