{% extends 'e-camp/web/camp.twig' %}

{% block layout_body %}
    <section class="container">

        <camp-details id="camp-details" camp-id="{{ campId }}"></camp-details>
        <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
        <script type="text/javascript" src="{{ basePath('assets/module/web/js/CampDetails.js') }}"></script>

    </section>

{% endblock %}
