{% extends 'ecamp-core/mail/layout.twig' %}

{% block desc %}eCamp3 - Password reset{% endblock %}

{% block body %}
    <h1>eCamp v3 - Password reset</h1>

    <p>
        bla bla bla...
    </p>

    <p style="text-align: center">
        <a href="{{ fqdnUrl(
        'web/register',
        { 'controller':'register', 'action': 'reset-password', 'id': login.id, 'key': resetKey },
        { 'query': { } }
        ) }}"
           style="
                display: inline-block;
                padding: 10px 40px;
                margin-bottom: 0;
                font-size: 15px;
                font-weight: 400;
                line-height: 1.5;
                text-align: center;
                white-space: nowrap;
                vertical-align: middle;
                -ms-touch-action: manipulation;
                touch-action: manipulation;
                cursor: pointer;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                background-image: none;
                border: 1px solid transparent;
                border-radius: 5px;
                color: #fff;
                background-color: #24b714;
                border-color: #18a405;
            "
        >
            Reset Password
        </a>
    </p>

    <p>

    </p>


{% endblock %}
