<?php
return array(
    'amqp' => array(
        'connection' => array(
            'host' => 'rabbitmq',
            'port' => 5672,
            'vhost' => '/',
            'user' => 'guest',
            'pass' => 'guest',
            'persisted' => false,
        )
    ),
);
