<?php
return array(
    'doctrine' => array(
        'connection' => array(
            'orm_default' => array(
                'driverClass' => 'Doctrine\DBAL\Driver\PDOMySql\Driver',
                'params' => array(
                    'charset'  => 'utf8',
                    'host'     => 'db',
                    'port'     => '3306',
                    'user'     => 'ecamp3',
                    'password' => 'ecamp3',
                    'dbname'   => 'ecamp3dev',
                )
            ),
        ),
    ),
);
