{% extends 'e-camp/web/camp.twig' %}

{% block layout_body %}
    <section class="container">

        <div class="card" style="margin-bottom: 10px">
            <div class="card-body">
                Perioden dieses Lagers

                <table>
                    <th>
                        <td>Description</td>
                        <td>Start</td>
                        <td>End</td>
                    </th>

                    {% for period in camp.periods %}
                        <tr>
                            <td>{{ perod.description }}</td>
                            <td>{{ period.start }}</td>
                            <td>{{ period.end }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                TODO
            </div>
        </div>
    </section>

{% endblock %}
