{
	{$CADDY_GLOBAL_OPTIONS}

	frankenphp {
		{$FRANKENPHP_CONFIG}
	}

	# https://caddyserver.com/docs/caddyfile/directives#sorting-algorithm
	order php_server before file_server

	auto_https disable_redirects
	# make it possible to connect from remote host to admin endpoint
	# https://caddyserver.com/docs/caddyfile/options#admin
	# note, restricting to specific origins is not possible with the wildcard interface
	# due to https://github.com/caddyserver/caddy/commit/f5ccb904a3db2bffd980feee685afaa762224cb2
	admin 0.0.0.0:2019
	# enable Prometheus metrics endpoint https://caddyserver.com/docs/metrics
	servers {
		metrics
	}
}

{$CADDY_EXTRA_CONFIG}

:3000 {
	log {
		level DEBUG
	}

	handle_path /api* {
		# rewriting the uri used for php-fcgi did not work
		# so we make a hop more to localhost:3001 with the rewritten url where the fcgi happens
		# this may slow down the request

		reverse_proxy localhost:3001 {
			header_up X-Forwarded-Prefix "/api"
		}
	}

	handle /print* {
		reverse_proxy print:3003
	}

	handle /mail* {
		reverse_proxy mail:1080
	}

	handle {
		reverse_proxy frontend:3000
	}
}

:3001 {
	route {
		root * /app/public

		encode {
			zstd
			br
			gzip

			match {
				header Content-Type text/*
				header Content-Type application/json*
				header Content-Type application/javascript*
				header Content-Type application/xhtml+xml*
				header Content-Type application/atom+xml*
				header Content-Type application/rss+xml*
				header Content-Type image/svg+xml*
				# Custom formats supported
				header Content-Type application/ld+json*
			}
		}

		# Add links to the API docs if not set explicitly (e.g. the PWA)
		header ?Link `</docs.jsonld>; rel="www.w3.org/ns/hydra/core#apiDocumentation"`

		# Disable Topics tracking if not enabled explicitly: https://github.com/jkarlin/topics
		header ?Permissions-Policy "browsing-topics=()"

		php_server
	}
}
