<div class="event-instance"
     ng-repeat="eventView in eventViews"
     ng-style="eventView.Style()"
     style="position: absolute;"
     ng-class="eventView.Class()"
     ng-mouseover="eventView.Mouseover()"
     ng-mouseleave="eventView.Mouseleave()"
>
    <!--
     ng-style="eventView.style()"
    -->

    <div style="position:absolute; left: 0; right: 0; top: 0; bottom: 0;" ng-style="eventView.Border()"></div>
    <div class="event-instance-background" style="position: absolute;" ng-style="eventView.BgStyle()"></div>

    <div style="position: absolute; left: 0px; right: 0px; text-align: center" ng-if="eventView.IsStart()">
        {{ eventView.eventInstance.GetDayNr() }}.{{ eventView.eventInstance.GetEventNr() }}  Title
    </div>
    <div style="position: absolute; left: 0px; right: 0px; text-align: center; opacity: 0.5" ng-if="!eventView.IsStart()">
        {{ eventView.eventInstance.GetDayNr() }}.{{ eventView.eventInstance.GetEventNr() }}  Title
    </div>

    <div class="resize-se ui-icon ui-icon-gripsmall-diagonal-se"
         ng-show="eventView.IsEnd()"
         style="position: absolute; height: 16px; width: 16px; right: 0px; bottom: 0px; cursor: se-resize">

         </div>
    <div class="resize-s"
         ng-show="eventView.IsEnd()"
         style="position: absolute; height: 7px; left:0px; right: 16px; bottom: 0px; cursor: s-resize"></div>
    <div class="resize-e"
         ng-show="eventView.IsEnd()"
         style="position: absolute; width: 7px; right: 0px; top:0px; bottom: 16px; cursor: e-resize"></div>
    <div class="resize-e"
         ng-hide="eventView.IsEnd()"
         style="position: absolute; width: 7px; right: 0px; top:0px; bottom: 0px; cursor: e-resize"></div>
</div>