
<!-- contextmenu -->
<div contextmenu-menu="contextmenu" class="dropdown contextmenu">
    <ul class="dropdown-menu" role="menu">
        <li class="dropdown-header">
            {{ contextmenu.$item.event.category.short }}
            {{ contextmenu.$item.GetDayNr() }}.{{ contextmenu.$item.GetEventNr() }}:
            {{ contextmenu.$item.event.title }}
        </li>
        <li>
            <a role="menuitem"
               tabindex="-1"
               href
               ng-href="{{ contextmenu.$item.event.web }}"
            >
                <span class="fa fa-fw fa-external-link"></span>
                <span>Open</span>
            </a>
        </li>
        <li class="divider"></li>
        <li>
            <a role="menuitem"
               tabindex="-1"
               href
               ng-click="EditEventInstance(contextmenu.$item)"
            >
                <span class="fa fa-fw fa-pencil"></span>
                <span>Edit</span>
            </a>
        </li>
        <li>
            <a role="menuitem"
               tabindex="-1"
               href
               ng-click="DeleteEventInstance(contextmenu.$item)"
            >
                <span class="fa fa-fw fa-trash"></span>
                <span>Delete</span>
            </a>
        </li>
    </ul>

</div>

<script type="text/ng-template" id="deleteEventDialog.html">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss('cancel')">&times;</button>
        <h4 class="modal-title"><i class="fa fa-trash"></i>
            {{ eventInstance.event.category.short }}
            {{ eventInstance.GetDayNr() }}.{{ eventInstance.GetEventNr() }}:
            {{ eventInstance.event.title }}
        </h4>
    </div>
    <div class="modal-body">
        Soll der Block
        <b>&bdquo;{{ eventInstance.event.category.short }}
            {{ eventInstance.GetDayNr() }}.{{ eventInstance.GetEventNr() }}:
            {{ eventInstance.event.title }}&rdquo;
        </b>
        wirklich gelöscht werden?
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default"  ng-click="cancel()">Cancel</button>
        <button type="button" class="btn btn-danger" ng-click="ok()">Löschen</button>
    </div>
</script>


<div class="full-height-container" ng-style="style" ng-class="fullScreenClass">

    <div class="full-height-header">
        <h1 style="display: inline">Picasso - {{ data.camp.title }}:</h1>

        <div class="pull-right">
            <div style="display: inline-block; width: 60px; text-align: center">
                {{ config.dayStart | date : 'HH:mm' }}
            </div>
            <div style="display: inline-block; width: 300px" ui-slider="{range: true}"
                 min="0" max="1800" step="15" ng-model="config.timeRange"
            ></div>
            <div style="display: inline-block; width: 60px; text-align: center">
                {{ config.dayEnd | date : 'HH:mm' }}
            </div>

            <div style="display: inline-block; margin-left: 20px">
                <a href="#" class="btn btn-default" ng-click="config.isFullscreen = !config.isFullscreen">
                    <i class="fa fa-expand" ng-hide="config.isFullscreen"></i>
                    <i class="fa fa-compress" ng-show="config.isFullscreen"></i>
                </a>
            </div>
        </div>

        <hr style="margin-top: 10px; margin-bottom: 10px" />
    </div>

    <div class="full-height-body">

        <div class="picasso-timetable">
            <!-- Begin Timeline -->
            <div class="picasso-timeline-left">
                <div class="full-height-container picasso-timeline">

                    <div class="full-height-header" style="height: 50px;">
                        <div style="text-align: center; height: 50px; border-bottom: 1px solid #888;">
                            Zeit
                        </div>
                    </div>

                    <div class="full-height-body" ng-style="timelineStyle">
                        <div style="display: table-cell; position: relative">
                            <div ng-repeat="slot in timeline.slots" ng-style="slot.style" ng-class="slot.class">
                                <div class="picasso-timeslot" ng-show="slot.showTime">
                                    {{ slot.start | date : 'HH:mm' }} - {{ slot.end | date : 'HH:mm'  }}
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="picasso-timeline-right">
                <div class="full-height-container picasso-timeline">

                    <div class="full-height-header" style="height: 50px;">
                        <div style="text-align: center; height: 50px; border-bottom: 1px solid #888;">
                            Zeit
                        </div>
                    </div>

                    <div class="full-height-body" ng-style="timelineStyle">
                        <div style="display: table-cell; position: relative">
                            <div ng-repeat="slot in timeline.slots" ng-style="slot.style" ng-class="slot.class">
                                <div class="picasso-timeslot" ng-show="slot.showTime">
                                    {{ slot.start | date : 'HH:mm' }} - {{ slot.end | date : 'HH:mm'  }}
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- End Timeline -->

            <!-- Begin Picasso-Body -->
            <div class="picasso-body">
                <!-- Begin Timeline-Strips -->
                <div class="full-height-container picasso-timestrips">
                    <div class="full-height-header" style="height: 50px;">
                        <div style="text-align: center; height: 50px; border-bottom: 1px solid #888;"></div>
                    </div>
                    <div class="full-height-body" ng-style="timelineStyle">
                        <div style="display: table-cell; position: relative">
                            <div ng-repeat="slot in timeline.slots" ng-style="slot.style" ng-class="slot.class"></div>
                        </div>
                    </div>
                </div>
                <!-- End Timeline-Strips -->


                <div style="position: absolute; left: 0; right: 0; top:0; bottom: 0; overflow-x: scroll; overflow-y: hidden">
                    <!-- Begin Days -->
                    <div class="full-height-container picasso-days">

                        <div ng-repeat="date in dates" ng-style="date.style()" class="picasso-date">
                            <div class="picasso-date-background-{{ ($index % 2 == 0) ? 'odd' : 'even' }}"></div>

                            <div class="picasso-date-header">
                                {{ date.date | date : 'dd. MMM' }}
                            </div>
                        </div>

                        <div ng-repeat="day in days" ng-style="day.style()" class="picasso-day">
                            <div style="text-align: center;">[{{ day.period.bo.description }}]</div>
                        </div>

                    </div>
                    <!-- End Days -->

                    <!-- Begin EventInstances -->
                    <div class="full-height-container">
                        <div class="full-height-header" style="height: 50px;"></div>
                        <div class="full-height-body">
                            <div class="event-instances"
                                 style="position:relative; height: 100%"
                                 contextmenu-container="contextmenu"
                            >

                                <div ng-repeat="eventInstance in eventInstances" class="animate-repeat">
                                    <div contextmenu-item="eventInstance">
                                        <event-instance data="eventInstance"></event-instance>
                                    </div>
                                </div>

                                <div ng-repeat="helper in createEvent.helpers" ng-style="helper.style" >
                                    {{ helper.start | date: 'HH:mm' }} - {{ helper.end | date: 'HH:mm' }}
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- End EventInstances -->

                </div>
            </div>
            <!-- End Picasso-Body -->

        </div>
    </div>

</div>
