parameters:
	level: 5
	paths:
		- src
	ignoreErrors:
		- '#^Method Symfony\\Component\\Serializer\\Normalizer\\NormalizerInterface\:\:supportsNormalization\(\) invoked with 3 parameters, 1-2 required\.$#'
