name: Dependency Check

on:
  push:
    branches-ignore:
      - gh-readonly-queue/**
  pull_request:
  merge_group:
  workflow_dispatch:
  schedule:
    - cron: '42 3 * * *'

env:
  USER_ID: 1001

concurrency:
  group: ${{ github.workflow }}-${{ github.event_name }}-${{ github.ref_name }}
  cancel-in-progress: true

jobs:
  api-check-dependencies:
    name: 'Api Platform check dependencies'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4

      - uses: shivammathur/setup-php@v2
        with:
          php-version: '8.3.6'
          tools: composer:2.7.0
          coverage: xdebug

      - run: composer update --lock --no-interaction --no-plugins --no-scripts --prefer-dist
        working-directory: api
