name: Deploy to dev.ecamp3.ch

on:
  repository_dispatch:
    types: [ images-pushed ]

jobs:
  only-on-main-branch:
    name: Only on the main branch
    if: ${{ 'refs/heads/devel' == github.event.client_payload.ref }}
    runs-on: ubuntu-latest
    steps:

      - run: 'echo ${{ github.event.client_payload.ref }}'

  deploy-to-dev-ecamp3-ch:
    name: "Deploy to dev.ecamp3.ch"
    needs: only-on-main-branch
    runs-on: ubuntu-latest
    steps:

      - uses: actions/checkout@5a4ac9002d0be2fb38bd78e4b4dbde5606d7042f # renovate: tag=v2

      - uses: shimataro/ssh-key-action@v2
        with:
          key: ${{ secrets.DEVEL_SSH_PRIVATE_KEY }}
          known_hosts: ${{ secrets.DEVEL_SSH_KNOWN_HOSTS }}

      - uses: ./.github/actions/deploy
        with:
          commit-sha: ${{ github.event.client_payload.sha }}
          ssh-host: ${{ secrets.DEVEL_SSH_HOST }}
          db-host: ${{ secrets.DEVEL_DB_HOST }}
          db-port: ${{ secrets.DEVEL_DB_PORT }}
          db-user: ${{ secrets.DEVEL_DB_USER }}
          db-pass: ${{ secrets.DEVEL_DB_PASS }}
          db-name: ${{ secrets.DEVEL_DB_NAME }}
          session-cookie-domain: ${{ secrets.DEVEL_SESSION_COOKIE_DOMAIN }}
          backend-url: ${{ secrets.DEVEL_BACKEND_URL }}
          frontend-url: ${{ secrets.DEVEL_FRONTEND_URL }}
          print-server-url: ${{ secrets.DEVEL_PRINT_SERVER_URL }}
          print-file-server-url: ${{ secrets.DEVEL_PRINT_FILE_SERVER_URL }}
          mail-server-url: ${{ secrets.DEVEL_MAIL_SERVER_URL }}
          sentry-backend-dsn: ${{ secrets.DEVEL_SENTRY_BACKEND_DSN }}
          sentry-frontend-dsn: ${{ secrets.DEVEL_SENTRY_FRONTEND_DSN }}
          sentry-print-dsn: ${{ secrets.DEVEL_SENTRY_PRINT_DSN }}
          sentry-worker-print-puppeteer-dsn: ${{ secrets.DEVEL_SENTRY_WORKER_PRINT_PUPPETEER_DSN }}
          sentry-worker-print-weasy-dsn: ${{ secrets.DEVEL_SENTRY_WORKER_PRINT_WEASY_DSN }}
          rabbitmq-host: ${{ secrets.DEVEL_RABBITMQ_HOST }}
          rabbitmq-port: ${{ secrets.DEVEL_RABBITMQ_PORT }}
          rabbitmq-vhost: ${{ secrets.DEVEL_RABBITMQ_VHOST }}
          rabbitmq-user: ${{ secrets.DEVEL_RABBITMQ_USER }}
          rabbitmq-pass: ${{ secrets.DEVEL_RABBITMQ_PASS }}
          api-domain: ${{ secrets.DEVEL_API_URL }}
          api-app-secret: ${{ secrets.DEVEL_API_APP_SECRET }}
          api-database-url: ${{ secrets.DEVEL_API_DATABASE_URL }}
          api-jwt-passphrase: ${{ secrets.DEVEL_API_JWT_PASSPHRASE }}
