name: CI + CD for staging and prod

on:
  push:
    branches:
      - staging
      - prod
    tags:
      - staging
      - prod
  workflow_dispatch:

jobs:
  continuous-integration:
    name: 'Continuous integration'
    uses: ./.github/workflows/continuous-integration.yml

  build-and-push:
    name: Build and push docker images
    needs: continuous-integration
    uses: ./.github/workflows/reusable-build-and-push.yml
    with:
      tag: ${{ github.ref_name }}
    secrets:
      DOCKER_HUB_USERNAME: ${{ vars.DOCKER_HUB_USERNAME }}
      DOCKER_HUB_PASSWORD: ${{ secrets.DOCKER_HUB_PASSWORD }}

  upgrade-or-install-deployment:
    name: Upgrade or install deployment
    needs: build-and-push
    uses: ./.github/workflows/reusable-stage-prod-deployment.yml
    secrets: inherit
