name: PR

on:
  pull_request:
    types: [opened, labeled, unlabeled, synchronize]
  push:
    branches:
      - 'renovate/**'

jobs:
  no-meeting-discuss-label:
    name: No "Meeting Discuss" label
    runs-on: ubuntu-latest
    steps:
      - uses: mheap/github-action-required-labels@179af849240d834567e1a3d6dc781575eede757c # v3
        if: github.event_name == 'pull_request'
        with:
          mode: exactly
          count: 0
          labels: "Meeting Discuss"
