name: Push devel to Docker Hub

on:
  repository_dispatch:
    types: [ ci-passed ]
  pull_request:

jobs:
  only-on-main-branch:
    name: Only on the main branch
    if: ${{ 'refs/heads/devel' == github.event.client_payload.ref }}
    runs-on: ubuntu-latest
    steps:

      - run: 'echo ${{ github.event.client_payload.ref }}'

  only-api-add-deployment:
    name: Only on the main branch
    if: ${{ 'refs/heads/api-add-deployment' == github.event.client_payload.ref }}
    runs-on: ubuntu-latest
    steps:

      - run: 'echo ${{ github.event.client_payload.ref }}'

  push-frontend-to-docker-hub:
    name: "Push frontend to Docker Hub"
    needs: only-on-main-branch
    runs-on: ubuntu-latest
    steps:

      - uses: actions/checkout@5a4ac9002d0be2fb38bd78e4b4dbde5606d7042f # renovate: tag=v2
        with:
          ref: ${{ github.event.client_payload.sha }}

      - uses: docker/build-push-action@3e7a4f6646880c6f63758d73ac32392d323eaf8f # renovate: tag=v1
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}
          repository: ecamp/ecamp3-frontend
          dockerfile: .docker-hub/frontend/Dockerfile
          tags: 'latest,${{ github.event.client_payload.sha }}'

  push-backend-to-docker-hub:
    name: "Push backend to Docker Hub"
    needs: only-on-main-branch
    runs-on: ubuntu-latest
    steps:

      - uses: actions/checkout@5a4ac9002d0be2fb38bd78e4b4dbde5606d7042f # renovate: tag=v2
        with:
          ref: ${{ github.event.client_payload.sha }}

      - uses: docker/build-push-action@3e7a4f6646880c6f63758d73ac32392d323eaf8f # renovate: tag=v1
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}
          repository: ecamp/ecamp3-backend
          dockerfile: .docker-hub/backend/Dockerfile
          tags: 'latest,${{ github.event.client_payload.sha }}'

  push-api-to-docker-hub:
    name: "Push api to Docker Hub"
    needs: only-api-add-deployment
    runs-on: ubuntu-latest
    steps:

      - uses: actions/checkout@5a4ac9002d0be2fb38bd78e4b4dbde5606d7042f # renovate: tag=v2
        with:
          ref: ${{ github.event.client_payload.sha }}

      - uses: docker/build-push-action@3e7a4f6646880c6f63758d73ac32392d323eaf8f # renovate: tag=v1
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}
          repository: ecamp/ecamp3-api
          dockerfile: api/Dockerfile
          tags: 'latest,${{ github.event.client_payload.sha }}'
          context: api
          target: api_platform_php

  push-caddy-to-docker-hub:
    name: "Push caddy to Docker Hub"
    needs: only-api-add-deployment
    runs-on: ubuntu-latest
    steps:

      - uses: actions/checkout@5a4ac9002d0be2fb38bd78e4b4dbde5606d7042f # renovate: tag=v2
        with:
          ref: ${{ github.event.client_payload.sha }}

      - uses: docker/build-push-action@3e7a4f6646880c6f63758d73ac32392d323eaf8f # renovate: tag=v1
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}
          repository: ecamp/ecamp3-caddy
          dockerfile: api/Dockerfile
          tags: 'latest,${{ github.event.client_payload.sha }}'
          context: api
          target: api_platform_caddy

  push-print-to-docker-hub:
    name: "Push print to Docker Hub"
    needs: only-on-main-branch
    runs-on: ubuntu-latest
    steps:

      - uses: actions/checkout@5a4ac9002d0be2fb38bd78e4b4dbde5606d7042f # renovate: tag=v2
        with:
          ref: ${{ github.event.client_payload.sha }}

      - uses: docker/build-push-action@3e7a4f6646880c6f63758d73ac32392d323eaf8f # renovate: tag=v1
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}
          repository: ecamp/ecamp3-print
          dockerfile: .docker-hub/print/Dockerfile
          tags: 'latest,${{ github.event.client_payload.sha }}'

  push-worker-print-puppeteer-to-docker-hub:
    name: "Push worker-print-puppeteer to Docker Hub"
    needs: only-on-main-branch
    runs-on: ubuntu-latest
    steps:

      - uses: actions/checkout@5a4ac9002d0be2fb38bd78e4b4dbde5606d7042f # renovate: tag=v2
        with:
          ref: ${{ github.event.client_payload.sha }}

      - uses: docker/build-push-action@3e7a4f6646880c6f63758d73ac32392d323eaf8f # renovate: tag=v1
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}
          repository: ecamp/ecamp3-worker-print-puppeteer
          dockerfile: .docker-hub/worker-print-puppeteer/Dockerfile
          tags: 'latest,${{ github.event.client_payload.sha }}'

  push-worker-print-weasy-to-docker-hub:
    name: "Push worker-print-weasy to Docker Hub"
    needs: only-on-main-branch
    runs-on: ubuntu-latest
    steps:

      - uses: actions/checkout@5a4ac9002d0be2fb38bd78e4b4dbde5606d7042f # renovate: tag=v2
        with:
          ref: ${{ github.event.client_payload.sha }}

      - uses: docker/build-push-action@3e7a4f6646880c6f63758d73ac32392d323eaf8f # renovate: tag=v1
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}
          repository: ecamp/ecamp3-worker-print-weasy
          dockerfile: .docker-hub/worker-print-weasy/Dockerfile
          tags: 'latest,${{ github.event.client_payload.sha }}'

  images-pushed-event:
    name: "Send out image push success event"
    needs:
      - push-frontend-to-docker-hub
      - push-backend-to-docker-hub
      - push-print-to-docker-hub
      - push-worker-print-puppeteer-to-docker-hub
      - push-worker-print-weasy-to-docker-hub
    runs-on: ubuntu-latest
    steps:

      - uses: peter-evans/repository-dispatch@ce5485de42c9b2622d2ed064be479e8ed65e76f4 # renovate: tag=v1
        with:
          token: ${{ secrets.REPO_ACCESS_TOKEN }}
          event-type: images-pushed
          client-payload: '{"ref": "${{ github.event.client_payload.ref }}", "sha": "${{ github.event.client_payload.sha }}"}'
