name: '[reusable only] e2e tests build'

on:
  workflow_call:

jobs:
  e2e-tests-build:
    name: 'Tests: End-to-end (build job)'
    runs-on: ubuntu-latest
    timeout-minutes: 20
    steps:
      - uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v3

      # build API (using cache; provide image to docker compose)
      - name: Build docker image (API/PHP)
        uses: docker/build-push-action@v5
        with:
          file: api/Dockerfile
          context: './api'
          push: false
          load: true
          target: frankenphp_dev
          builder: ${{ steps.buildx.outputs.name }}
          tags: ecamp/ecamp3-dev-api
          cache-from: type=gha,scope=api
          cache-to: type=gha,scope=api,mode=max
          outputs: type=docker,dest=/tmp/ecamp3-dev-api.tar

      - uses: actions/upload-artifact@v4
        with:
          name: e2e-tests-images
          path: /tmp/ecamp3-dev-*.tar
