name: '[reusable only] Build images and push to registry'

on:
  workflow_call:
    inputs:
      tag:
        required: false
        type: string
      sha:
        required: false
        type: string
        default: ${{ github.sha }}
    secrets:
      DOCKER_HUB_USERNAME:
        required: true
      DOCKER_HUB_PASSWORD:
        required: true
      SENTRY_AUTH_TOKEN:

jobs:
  build-and-push:
    name: Build images and push
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
        with:
          ref: ${{ inputs.sha }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}

      - name: Build and push frontend docker image
        uses: docker/build-push-action@v6
        with:
          push: true
          file: .docker-hub/frontend/Dockerfile
          tags: |
            ${{ ((inputs.tag != '') && format('{0}/ecamp3-frontend:{1}', vars.DOCKER_HUB_USERNAME, inputs.tag) || '') }}
            ${{ vars.DOCKER_HUB_USERNAME }}/ecamp3-frontend:${{ inputs.sha }}
          context: .
          build-args: |
            SENTRY_AUTH_TOKEN=${{ secrets.SENTRY_AUTH_TOKEN }}
            SENTRY_ORG=${{ vars.SENTRY_ORG }}
            SENTRY_FRONTEND_PROJECT=${{ vars.SENTRY_FRONTEND_PROJECT }}
            SENTRY_RELEASE_NAME=${{ inputs.sha }}
          cache-from: type=gha,scope=frontend
          cache-to: type=gha,scope=frontend,mode=max

      - name: Build and push api docker image
        uses: docker/build-push-action@v6
        with:
          push: true
          file: api/Dockerfile
          tags: |
            ${{ ((inputs.tag != '') && format('{0}/ecamp3-api:{1}', vars.DOCKER_HUB_USERNAME, inputs.tag) || '') }}
            ${{ vars.DOCKER_HUB_USERNAME }}/ecamp3-api:${{ inputs.sha }}
          context: './api'
          target: frankenphp_prod
          cache-from: type=gha,scope=api
          cache-to: type=gha,scope=api,mode=max

      - name: Build and push print docker image
        uses: docker/build-push-action@v6
        with:
          push: true
          file: .docker-hub/print/Dockerfile
          tags: |
            ${{ ((inputs.tag != '') && format('{0}/ecamp3-print:{1}', vars.DOCKER_HUB_USERNAME, inputs.tag) || '') }}
            ${{ vars.DOCKER_HUB_USERNAME }}/ecamp3-print:${{ inputs.sha }}
          context: .
          build-args: |
            SENTRY_AUTH_TOKEN=${{ secrets.SENTRY_AUTH_TOKEN }}
            SENTRY_ORG=${{ vars.SENTRY_ORG }}
            SENTRY_PRINT_PROJECT=${{ vars.SENTRY_PRINT_PROJECT }}
            SENTRY_RELEASE_NAME=${{ inputs.sha }}
          cache-from: type=gha,scope=print
          cache-to: type=gha,scope=print,mode=max

      - name: Build and push varnish docker image
        uses: docker/build-push-action@v6
        with:
          push: true
          file: .docker-hub/varnish/Dockerfile
          tags: |
            ${{ ((inputs.tag != '') && format('{0}/ecamp3-varnish:{1}', vars.DOCKER_HUB_USERNAME, inputs.tag) || '') }}
            ${{ vars.DOCKER_HUB_USERNAME }}/ecamp3-varnish:${{ inputs.sha }}
          context: .
          cache-from: type=gha,scope=varnish
          cache-to: type=gha,scope=varnish,mode=max

      - name: Build and push db-backup-restore docker image
        uses: docker/build-push-action@v6
        with:
          push: true
          file: .helm/ecamp3/files/db-backup-restore-image/Dockerfile
          tags: |
            ${{ ((inputs.tag != '') && format('{0}/ecamp3-db-backup-restore:{1}', vars.DOCKER_HUB_USERNAME, inputs.tag) || '') }}
            ${{ vars.DOCKER_HUB_USERNAME }}/ecamp3-db-backup-restore:${{ inputs.sha }}
          context: .
          cache-from: type=gha,scope=db-backup-restore
          cache-to: type=gha,scope=db-backup-restore,mode=max
