name: '[reusable only] Build images and push to registry'

on:
  workflow_call:
    inputs:
      tag:
        required: false
        type: string
      sha:
        required: false
        type: string
        default: ${{ github.sha }}
    secrets:
      DOCKER_HUB_USERNAME:
        required: true
      DOCKER_HUB_PASSWORD:
        required: true

jobs:
  build-and-push:
    name: Build images and push
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3
        with:
          ref: ${{ inputs.sha }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}

      - name: Build and push frontend docker image
        uses: docker/build-push-action@v4
        with:
          push: true
          file: .docker-hub/frontend/Dockerfile
          tags: |
            ${{ ((inputs.tag != '') && format('{0}/ecamp3-frontend:{1}', vars.DOCKER_HUB_USERNAME, inputs.tag) || '') }}
            ${{ vars.DOCKER_HUB_USERNAME }}/ecamp3-frontend:${{ inputs.sha }}
          context: .
          cache-from: type=gha,scope=frontend
          cache-to: type=gha,scope=frontend,mode=max

      - name: Build and push api docker image
        uses: docker/build-push-action@v4
        with:
          push: true
          file: api/Dockerfile
          tags: |
            ${{ ((inputs.tag != '') && format('{0}/ecamp3-api-php:{1}', vars.DOCKER_HUB_USERNAME, inputs.tag) || '') }}
            ${{ vars.DOCKER_HUB_USERNAME }}/ecamp3-api-php:${{ inputs.sha }}
          context: './api'
          target: api_platform_php
          cache-from: type=gha,scope=api
          cache-to: type=gha,scope=api,mode=max

      - name: Build and push caddy docker image
        uses: docker/build-push-action@v4
        with:
          push: true
          file: api/Dockerfile
          tags: |
            ${{ ((inputs.tag != '') && format('{0}/ecamp3-api-caddy:{1}', vars.DOCKER_HUB_USERNAME, inputs.tag) || '') }}
            ${{ vars.DOCKER_HUB_USERNAME }}/ecamp3-api-caddy:${{ inputs.sha }}
          context: './api'
          target: api_platform_caddy_prod
          cache-from: type=gha,scope=caddy
          cache-to: type=gha,scope=caddy,mode=max

      - name: Build and push print docker image
        uses: docker/build-push-action@v4
        with:
          push: true
          file: .docker-hub/print/Dockerfile
          tags: |
            ${{ ((inputs.tag != '') && format('{0}/ecamp3-print:{1}', vars.DOCKER_HUB_USERNAME, inputs.tag) || '') }}
            ${{ vars.DOCKER_HUB_USERNAME }}/ecamp3-print:${{ inputs.sha }}
          context: .
          cache-from: type=gha,scope=print
          cache-to: type=gha,scope=print,mode=max
