name: sync

on:
  schedule:
  - cron: '0 * * * *' # Sync at every full hour

jobs:
  sync-deploy:
    name: Sync the deploy branch with the upstream devel
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: shitiomatic/forkbacon@master
        with:
          upstream_url: "https://github.com/ecamp/ecamp3.git"
          upstream_branch: "devel"
          branch: "deploy"
          method: "rebase"
