{% extends 'layout/camp.twig' %}


{% block content2 %}

	<div class="row">

			<div class="col-sm-6">
			test left
			</div>
			<div class="col-sm-6">
			test right
			</div>
	</div>
{% endblock content2 %}
